body {
  background-color: var(--main-background-color);
  font-family: var(--main-font);
  color: var(--main-black-text-color);
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.3;
  padding-top: var(--header-height);
}

html {
  scroll-behavior: smooth;
}

body.modal-open {
  overflow: hidden;
}

