<div class='counter'>
  <button class='counter__button' type='button'>
    <svg class='counter__icon' width='30px' height='30px'>
      <use href='./images/sprite.svg#icon-minus'></use>
    </svg>
  </button>
  <span class='counter__output'>0</span>
  <button class='counter__button' type='button'>
    <svg class='counter__icon' width='30px' height='30px'>
      <use href='./images/sprite.svg#icon-plus'></use>
    </svg>
  </button>
</div>