:root {
  // FONTS
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'PT Sans', sans-serif;
  --third-font: 'Titan One', cursive;
  --fouth-font:'Raleway', sans-serif;

  // COLORS
  --accent-color: #03453B;
  --secondary-color: #00554E;
  // --btn-hover-color:#70A5A0;
  --btn-disabled-color:#DEDEDE;
  --white-color: #ffffff;
  --accent-red-color:#E12317;

  // // BROWN
  --secondary-accent-color:#B9956F;
  // --light-brown:#D2A97E;
  // --dark-brown:#987045;
  // --brown-disabled:#F3DCC3;

  // text colors
  --main-black-text-color: #333333;
  --secondary-text-color: #EBEBEB;

  // background color
    // --main-background-color: #EBEBEB;
    --main-background-color: #F5F4FA;
  
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}
