:root {
  // FONTS
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'PT Sans', sans-serif;
  --third-font: 'Titan One', cursive;
  --fouth-font: 'Raleway', sans-serif;

  // COLORS
  --accent-color: #987045;
  // --accent-color: #bb8136;
  // --accent-color: #f4900e;
  
  --secondary-color: #00554E;
  --white-color: #ffffff;

  // text colors
  --main-black-text-color: #333333;
  --secondary-text-color: #ebebeb;
  --accent-text-color:#013220;
  --accent-red-color: #E12317;

  --filter-reset-icon-color: #BABABA;
  --disabled-color:#DEDEDE;
  --btn-close-color:rgba(0, 0, 0, 0.5);
  --modal-input-border-color: rgba(33, 33, 33, 0.2);
  --placeholder-text: rgba(117, 117, 117, 0.5);

  // background color
  --main-background-color: #f5f4fa;
  --accent-background-color: #03453b;
  // --button-click-color: #022f29;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --customer-review-card-background-color: #fafafa;
  --hit-label-color: #AE8646;
  --new-label-color: #1d7872;

  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);

}


// --accent-color: #03453B;
// --secondary-color: #00554E;
// --third-color: #0c5d57;
// --btn-hover-color:#70A5A0;
// --btn-disabled-color:#DEDEDE;
// --white-color: #ffffff;

// --accent-color: #013220;
// --accent-color: #28382b;
// --accent-color: #455b46;
// --accent-color: #2a312a;
// --main-black-text-color: #f4900e;
// --secondary-text-color:  #f4900e;

// --secondary-color: #00554E;
// --third-color: #0c5d57;
// // --btn-hover-color:#70A5A0;
// --btn-disabled-color:#DEDEDE;
// --white-color: #ffffff;
// --accent-red-color:#E12317;

// // // BROWN
// --secondary-accent-color:#f4900e;
// --light-brown:#D2A97E;
// --dark-brown:#987045;
// --brown-disabled:#F3DCC3;
