.basket-card{
  position: relative;
  padding:10px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  text-align: left;
  // display: flex;
  font-size: 12px;
}

.btn-close--basket-card {
  @include circle (18px);  
  font-size: 10px;
}

.basket-card__picture-wrapper {
  margin-right: 20px;
  width: 80px;

  @media screen and (min-width:768px) {
    margin-right: 30px;
    width: 100px;
  }
}

.basket-card__image {
  width: 100%;
}

.basket-card__title-wrapper {
  display: flex;
}

.basket-card__counter-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width:768px) {
    justify-content: end;
  }
}

.basket-card__price {
  font-weight: 600;
  font-size: 16px;
}