.basket__backdrop {
  @media screen and (min-width:768px) {
    padding: 24px;;
  }

}

.basket__modal{
  position: relative;
  padding: 10px;
  background-color: var(--basket-background-color);
  width: 100%;
  overflow-y:scroll;
  transform: scale(1);
	transition: transform 250ms var(--transition-timing);
	border-radius: 4px;

  @media screen and (min-width:1440px) {
    margin: 0 auto;
    width: 960px;
  }
}


.backdrop.is-hidden .basket__modal {
	transform: scale(0.3);
}

.basket__title {
  padding-left: 8px;
  
  @media screen and (min-width:768px) {
    padding-left: 24px;
  }
}

.basket__list {
  padding: 6px 6px;
  margin-bottom: 20px;
  max-height: 70%;
  overflow-y:scroll;

  @media screen and (min-width:768px) {
    padding: 12px 14px;

  }
}

.basket__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.basket__underside-wrapper {
  border: 1px solid var(--accent-text-color);
  border-radius: 4px;
  padding: 16px;
  background-color: rgba(0, 85, 78, .12);

  @media screen and (max-width:767.98px) {
    max-width: 98%;
    margin: 0 auto;
  }

  @media screen and (min-width:768px) {
    max-width:330px;
    margin-right: 14px;
    margin-left: auto;
    padding: 24px;
  }

  @media screen and (min-width:1440px) {
    max-width:365px;
  }
}

.basket__total-price {
  display: flex;
  justify-content: space-between;
  color: var(--accent-text-color);
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.basket__button {
  display: block;
  width: 100%;
}

.basket__to-catalog {
  margin-left: 10px;
  justify-content: flex-start;

  @media screen and (min-width:768px) {
    margin-left: 24px;
    transform: translateY(-30px);
  }
}

.basket__icon {
  fill: currentColor;
  margin-right: 10px;
  transform: rotate(-180deg);
}