<section class="section section--paddingTop about">
  <div class="container">
    <h2 class="section__title">Про нас</h2>
    <img class="image about__image" src="./images/about/beautiful-floral-arrangement-wooden-table 1.jpg" alt=""
      width="320" height="352">
    <div class="about__text-group--first">
      <p class="about__text">Хорошо, когда в одном месте можно найти подарок для всех членов семьи, для коллеги и
        партнёра, для наставника и вдохновителя.
      </p>
      <p class="about__text">Вкусные букеты - подарок, который можно подарить ребенку на первый год жизни и человеку, повидавшиму разные
        виды
        подарков на своих 50 днях рождениях, девушке на конкурс красоты и фанату "Динамо".</p>
      <p class="about__text--bold">Все актуальные презенты в одном месте - лучшее решение, когда нужно оптимизировать время.</p>
    </div>

    <div class="about__description">
      <p class="about__text">Представьте: вы приходите на праздник с букетом от @Da_buket и сразу оказываетесь в центре внимания.</p>
      <p class="about__text">Глаза окружающих прикованы к вашим рукам. Все разговоры затихают. И со всех сторон слышны только междометия: ух
        ты! вау! ничего себе! браво!</p>
      <p class="about__text">Одаряемый забывает про все остальные подарки. Его сердце покорено вашим небанальным, оригинальным, съедобным
        букетом.</p>
      <b>Представили?</b>
      <p>Теперь скорее принимайтесь за дело! Заказывайте букет или пишите нам. И мы вместе подберём букет, с которым вы будете покорять
        сердце именинника.</p>
    </в>
  </div>
</section>

<!-- <p>
      Хотите, чтобы подруга визжала от восторга, мама плакала от радости, а свекровь стала мягкой и пушистой? Тогда
      бегите за подарком в мастерскую вкусных букетов @Da_buket.
      Мы собираем необычные, яркие, магические клубничные букеты. Ягодка к ягодке, бочок к бочку, немного волшебства и,
      вуаля, ваш букет готов. Это любовь с первого взгляда!
      До сих пор ходите на дни рождения без букета? Ломайте систему, вводите новые правила, дарите клубничные букеты
    </p> -->
<!-- <p>
      👋Я, Анна Болебрух, основатель мастерской вкусных букетов @maisternia_m.
      Мне 34 года, я мама двоих дочерей.
      Не люблю сидеть на месте, мне нужно реализовывать и развивать себя. Именно этим я и начала заниматься в декрете.
      В фудфлористику пришла случайно в 2018 г. Хотела удивить свою сестру подарком, который собиралась сделать своими
      руками. Искала подсказку в интернете и увидела фото букета из конфет. Увидела и сделала.
      Это и стало моим началом погружения в мир фудфлористики. Я поглощала всю информацию, которую находила в бесплатном
      доступе, как губка. Затем решилась на покупку бизнес-курса, дальше был технологический... В итоге у меня за
      плечами больше 10 сертификатов про окончание/прохождение технологических курсов, бизнес-курсов.
      Я мама. И в своей философии воспитания детей, придерживаюсь правила: все пройдет - эмоции останутся. Фудфлористики
      - как раз про эмоции. Такой подарок вызывает восхищение, восторг, удивление, он покоряет сердца своей
      небанальностью. Именно эта профессия сейчас находит отклик у меня в душе!
      А кто вы? Чем занимаетесь? Что заставляет каждое утро улыбаться солнцу?
    </p> -->