<section class="section section--paddingTop about">
  <div class="container">
    <h2 class="section__title">Про нас</h2>
    <img src="./images/about/beautiful-floral-arrangement-wooden-table 1.jpg" alt="" width="320" height="352">
    <p>
      Жизнь слишком коротка, чтобы ограничиваться такими праздниками как 8 марта, 14 февраля, день Матери
      и дни рождения! Наши любимые дамы заслуживают гораздо больше внимания, а аленький цветочек из нашего ассортимента
      поможет вам в этом Доставка цветов по Минску — ваше лучшее решение!
      Если вдруг у вас не получается подарить букет лично, наша гибкая система доставки поможет вам. Создание букета —
      не простое задание.
    </p>
    <p>
      Для заказа необходимо учитывать ваши персональные отношения с адресатом, статус человека, возраст и это только
      малая часть критериев, по которым наши высококвалифицированные специалисты быстро, качественно и красиво соберут
      и оформят ваш заказ.
      Так, романтичным натурам подойдут букеты в нежной гамме с зелёными и розовыми оттенками. Истинным леди придутся
      по вкусу букеты с прямыми линиями и строгими формами. Страстная особа обрадуется бордовой гамме цветов,
      а творческие личности оценят букет из подсолнухов. Традиционные тюльпаны дарят на ставшие привычными праздники —
      8 Марта и День учителя. Букет – это молчаливое восхищение. Мы поможем вам выразить чувства.
      Надо поздравить любимого человека, а вы в другом городе? Нет проблем! Сотрудники Gvozdika.by сделают это за вас!
      Достаточно сделать заказ — и интернет-магазин цветов и подарков Gvozdika.by привезёт выбранный вами букет в любой
      район Минска через час-два с момента заказа,а доставку по Беларуси осуществим в течении суток!
    </p>
  </div>
</section>