<!-- Modal window-->
<div class="backdrop is-hidden basket__backdrop js-backdrop" data-basket-modal>
  <div class="basket__modal js-modal">
    <button class="btn-close" aria-label="закрыть модальное окно" data-basket-modal-close>
      <svg class="btn-close__icon" width="18px" height="18px">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <strong class="modal__title basket__title"> Кошик</strong>
    <ul class="list basket__list" id="basket">
      <li class="basket__empty-basket" id="empty-text">
        <p class="basket__empty-basket-text">В Вашій корзині поки що нічого немає</p>
        <p class="basket__empty-basket-description">Перейдіть до каталогу, щоб знайти те, що Вам потірбно</p>

      </li>
    </ul>

    <form class="question-form" name="order_form" id="basket-form">
      <strong class="modal__title basket__title basket__title-form"> Будь-ласка, введіть Ваші дані</strong>
      <label class="question-form__label basket__label">
        <span class="question-form__text">Ім'я</span>
        <span class="question-form__wrapper">
          <input class="question-form__input basket__input" type="text" name="name" minlength="3" required>
          <svg class="question-form__icon" width="18px" height="18px">
            <use href="./images/sprite.svg#icon-modal-person">
            </use>
          </svg>
        </span>
        <span class="question-form__assistance-message">
          Ім'я повинно складатися мінімум з 3х символів
        </span>
      </label>
      <label class="question-form__label basket__label">
        <span class="question-form__text">Телефон</span>
        <span class="question-form__wrapper">
          <input class="question-form__input basket__input" type="tel" name="phone" required>
          <svg class="question-form__icon" width="18px" height="18px">
            <use href="./images/sprite.svg#icon-modal-phone">
            </use>
          </svg>
        </span>
        <span class="question-form__assistance-message">+38 (999) 111-11-11</span>
      </label>
      <label class="question-form__label basket__label">
        <span class="question-form__text">Пошта</span>
        <span class="question-form__wrapper">
          <input class="question-form__input basket__input" type="email" name="email" required>
          <svg class="question-form__icon" width="18px" height="18px">
            <use href="./images/sprite.svg#icon-modal-email">
            </use>
          </svg>
        </span>
        <span class="question-form__assistance-message">mail@mail.com</span>
      </label>
      <div class="basket__underside-wrapper">
        <label class="basket__total-price-label"> До оплати:
          <input type="number" class="basket__total-price-input" readonly name="totalPrice" data-total-price></input>
          грн
        </label>
        <button class="button basket__button" type="submit" data-basket-submit disabled>Оформити замовлення</button>
      </div>
    </form>
    <button class="button button--transparent basket--back-button" type="button"
      data-basket-modal-close-button>Продовжити
      покупки</button>

  </div>
</div>

<!-- 
        <li class="basket__item basket-card js-basket-card">
        <button class="btn-close btn-close--basket-card">
          &#x2716
        </button>

        <div class="basket-card__title-wrapper">
          <div class="basket-card__picture-wrapper">
            <picture>
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-4-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-4-sm@2x.webp 2x" type="image/webp">
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-4-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-4-sm@2x.jpg 2x" type="image/jpg">
              <img class="image basket-card__image" src="./images/bouquet-cards/bouquet-image-4-sm.jpg"
                alt="букет кіндер-сюрприз" width="100" height="83" loading="lazy">
            </picture>
          </div>
          <h3 class="basket-card__title">Букет «Кіндер-сюрприз»</h3>
        </div>
        <div class="basket-card__counter-wrapper">
          <div class="counter">
            <button class="counter__button" type="button" data-decrement> &#8211 </button>
            <label class="counter__label">
              <input type="number" class="counter__input" step="1" min="1" max="20" id="counter" name="quantity"
                value="1" readonly data-counter></input>
            </label>
            <button class="counter__button" type="button" data-increment> &#43 </button>
          </div>
          <p class="basket-card__price">540 грн</p>
        </div>
      </li>
        <li class="basket__item basket-card js-basket-card">
        <button class="btn-close btn-close--basket-card">
          &#x2716
        </button>

        <div class="basket-card__title-wrapper">
          <div class="basket-card__picture-wrapper">
            <picture>
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-4-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-4-sm@2x.webp 2x" type="image/webp">
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-4-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-4-sm@2x.jpg 2x" type="image/jpg">
              <img class="image basket-card__image" src="./images/bouquet-cards/bouquet-image-4-sm.jpg"
                alt="букет кіндер-сюрприз" width="100" height="83" loading="lazy">
            </picture>
          </div>
          <h3 class="basket-card__title">Букет «Кіндер-сюрприз»</h3>
        </div>
        <div class="basket-card__counter-wrapper">
          <div class="counter">
            <button class="counter__button" type="button" data-decrement> &#8211 </button>
            <label class="counter__label">
              <input type="number" class="counter__input" step="1" min="1" max="20" id="counter" name="quantity"
                value="1" readonly data-counter></input>
            </label>
            <button class="counter__button" type="button" data-increment> &#43 </button>
          </div>
          <p class="basket-card__price">540 грн</p>
        </div>
      </li>
      
        <li class="basket__item basket-card js-basket-card">
        <button class="btn-close btn-close--basket-card">
          <svg class="btn-close__icon" width="10px" height="10px">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <div class="basket-card__title-wrapper">
          <div class="basket-card__picture-wrapper">
            <picture>
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-4-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-4-sm@2x.webp 2x" type="image/webp">
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-4-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-4-sm@2x.jpg 2x" type="image/jpg">
              <img class="image basket-card__image" src="./images/bouquet-cards/bouquet-image-4-sm.jpg"
                alt="букет кіндер-сюрприз" width="100" height="83" loading="lazy">
            </picture>
          </div>
          <h3 class="basket-card__title">Букет «Кіндер-сюрприз»</h3>
        </div>
        <div class="basket-card__counter-wrapper">
          <div class="counter">
            <button class="counter__button" type="button" data-decrement> &#8211 </button>
            <label class="counter__label">
              <input type="number" class="counter__input" step="1" min="1" max="20" id="counter" name="quantity"
                value="1" readonly data-counter></input>
            </label>
            <button class="counter__button" type="button" data-increment> &#43 </button>
          </div>
          <p class="basket-card__price">540 грн</p>
        </div>
      </li>
      <li class="basket__item basket-card js-basket-card">
        <button class="btn-close btn-close--basket-card">
          <svg class="btn-close__icon" width="10px" height="10px">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <div class="basket-card__title-wrapper">
          <div class="basket-card__picture-wrapper">
            <picture>
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-4-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-4-sm@2x.webp 2x" type="image/webp">
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-4-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-4-sm@2x.jpg 2x" type="image/jpg">
              <img class="image basket-card__image" src="./images/bouquet-cards/bouquet-image-4-sm.jpg"
                alt="букет кіндер-сюрприз" width="100" height="83" loading="lazy">
            </picture>
          </div>
          <h3 class="basket-card__title">Букет «Ковбаска»</h3>
        </div>
        <div class="basket-card__counter-wrapper">
          <div class="counter">
            <button class="counter__button" type="button" data-decrement> &#8211 </button>
            <label class="counter__label">
              <input type="number" class="counter__input" step="1" min="1" max="20" id="counter" name="quantity"
                value="1" readonly data-counter></input>
            </label>
            <button class="counter__button" type="button" data-increment> &#43 </button>
          </div>
          <p class="basket-card__price">540 грн</p>
        </div>
      </li>
 -->