<!-- Modal window-->
<div class="backdrop is-hidden basket__backdrop js-backdrop" data-basket-modal>
  <div class="basket__modal js-modal">
    <button class="btn-close" aria-label="закрыть модальное окно" data-basket-modal-close>
      <svg class="btn-close__icon" width="18px" height="18px">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <strong class="modal__title basket__title"> Кошик</strong>
    <ul class="list basket__list" id="basket">
    </ul>
    <div class="basket__underside-wrapper">
      <p class="basket__total-price">До оплати:
        <span class="basket__price-number">0 грн</span>
      </p>
      <button class="button basket__button" type="button">Оформити замовлення</button>
    </div>
    <button class="button button--transparent basket--back-button" type="button"
      data-basket-modal-close-button>Продовжити покупки</button>
  </div>
</div>

<!-- 
        <li class="basket__item basket-card js-basket-card">
        <button class="btn-close btn-close--basket-card">
          <svg class="btn-close__icon" width="10px" height="10px">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <div class="basket-card__title-wrapper">
          <div class="basket-card__picture-wrapper">
            <picture>
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-4-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-4-sm@2x.webp 2x" type="image/webp">
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-4-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-4-sm@2x.jpg 2x" type="image/jpg">
              <img class="image basket-card__image" src="./images/bouquet-cards/bouquet-image-4-sm.jpg"
                alt="букет кіндер-сюрприз" width="100" height="83" loading="lazy">
            </picture>
          </div>
          <h3 class="basket-card__title">Букет «Кіндер-сюрприз»</h3>
        </div>
        <div class="basket-card__counter-wrapper">
          <div class="counter">
            <button class="counter__button" type="button" data-decrement> &#8211 </button>
            <label class="counter__label">
              <input type="number" class="counter__input" step="1" min="1" max="20" id="counter" name="quantity"
                value="1" readonly data-counter></input>
            </label>
            <button class="counter__button" type="button" data-increment> &#43 </button>
          </div>
          <p class="basket-card__price">540 грн</p>
        </div>
      </li>
      <li class="basket__item basket-card js-basket-card">
        <button class="btn-close btn-close--basket-card">
          <svg class="btn-close__icon" width="10px" height="10px">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>

        <div class="basket-card__title-wrapper">
          <div class="basket-card__picture-wrapper">
            <picture>
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-4-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-4-sm@2x.webp 2x" type="image/webp">
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-4-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-4-sm@2x.jpg 2x" type="image/jpg">
              <img class="image basket-card__image" src="./images/bouquet-cards/bouquet-image-4-sm.jpg"
                alt="букет кіндер-сюрприз" width="100" height="83" loading="lazy">
            </picture>
          </div>
          <h3 class="basket-card__title">Букет «Ковбаска»</h3>
        </div>
        <div class="basket-card__counter-wrapper">
          <div class="counter">
            <button class="counter__button" type="button" data-decrement> &#8211 </button>
            <label class="counter__label">
              <input type="number" class="counter__input" step="1" min="1" max="20" id="counter" name="quantity"
                value="1" readonly data-counter></input>
            </label>
            <button class="counter__button" type="button" data-increment> &#43 </button>
          </div>
          <p class="basket-card__price">540 грн</p>
        </div>
      </li>
 -->