<section class="section section--paddingTop benefits">
  <div class="container benefits__container">
    <div class="benefits__border">
      <h2 class="section__title">Чому обирають нас?</h2>
      <ul class="list benefits__list">
        <li class="benefits__item">
          <svg class="benefits__icon" width="56" height="56">
            <use href="./images/sprite.svg#icon-diamond"></use>
          </svg>
          <h3 class="benefits__title">Тільки свіжі продукти</h3>
          <p class="benefits__description"> Наш магазин має тільки надійних постачальників свіжих та якісних продуктів
          </p>
        </li>
        <li class="benefits__item">
          <svg class="benefits__icon" width="56" height="56">
            <use href="./images/sprite.svg#icon-car"></use>
          </svg>
          <h3 class="benefits__title">Зручна доставка</h3>
          <p class="benefits__description">Доставляємо замовлення в будь-який день за попереднім замовленням</p>
        </li>
        <li class="benefits__item">
          <svg class="benefits__icon" width="56" height="56">
            <use href="./images/sprite.svg#icon-medal"></use>
          </svg>
          <h3 class="benefits__title">Справжні емоції</h3>
          <p class="benefits__description">Даруємо неймовірні справжні емоції вам та вашим рідним</p>
        </li>
        <li class="benefits__item">
          <svg class="benefits__icon" width="56" height="56">
            <use href="./images/sprite.svg#icon-medal"></use>
          </svg>
          <h3 class="benefits__title">Насолода в кожному букеті</h3>
          <p class="benefits__description">Створюємо букети саме з тих продуктів, що які гарантовано Вам сподобаються
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>