<section class="section buiyng-with-flowers">
  <div class="container">
    <h2 class="section__title">З квітами купують</h2>
    <ul class="list">
      <li>
        <img class="image" src="#" alt="">
        <h3>Цукерки</h3>
        <p>125 UAH</p>
        <button class="button" type="button">Замовити</button>
      </li>
      <li>
        <img class="image" src="#" alt="">
        <h3>Листівки</h3>
        <p>125 UAH</p>
        <button class="button" type="button">Замовити</button>
      </li>
      <li>
        <img class="image" src="#" alt="">
        <h3>Повітряні кульки</h3>
        <p>125 UAH</p>
        <button class="button" type="button">Замовити</button>
      </li>
    </ul>
  </div>
</section>