<section class="section section--paddingTop catalog">
  <div class="container">
    <h2 class="section__title">Каталог</h2>
    <button class="button catalog__filter-button" type="button">Фільтр</button>
    <div class="catalog__content-container">
      <div class="catalog-wrapper">
        <ul class="list catalog__list">
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-1-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-1-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-1-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-1-lg@2x.jpg 2x" type="image/jpg">
  
              <source media="(max-width:1439.98px)" srcset=" 
                ./images/bouquet-cards/bouquet-image-1-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-1-sm@2x.webp 2x" type="image/webp">
  
              <source media="(max-width:1439.98px)" srcset=" 
              ./images/bouquet-cards/bouquet-image-1-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-1-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-1-sm.jpg"
                alt="ягідний букет" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Ягідний букет</h3>
            <p class="product-card__price">360 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-2-lg.webp 1x, 
                ./images/bouquet-cards/bouquet-image-2-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-2-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-2-lg@2x.jpg 2x" type="image/jpg">
  
              <source media="(max-width:1439.98px)" srcset="
                ./images/bouquet-cards/bouquet-image-2-sm.webp 1x, 
                ./images/bouquet-cards/bouquet-image-2-sm@2x.webp 2x" type="image/webp">
  
              <source media="(max-width:1439.98px)" srcset=" 
              ./images/bouquet-cards/bouquet-image-2-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-2-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-2-sm.jpg"
                alt="букет ковбаска-сир" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет "Ковбаска-сир"</h3>
            <p class="product-card__price">810 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class=" catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-3-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-3-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-3-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-3-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-3-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-3-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-3-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-3-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-3-sm.jpg"
                alt="букет кіндер-сюрприз" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет «Кіндер-сюрприз»</h3>
            <p class="product-card__price">540 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-4-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-4-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-4-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-4-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-4-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-4-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-4-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-4-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-4-sm.jpg"
                alt="букет з абрикосів" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет з абрикосів</h3>
            <p class="product-card__price">375 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-5-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-5-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-5-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-5-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-5-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-5-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-5-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-5-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-5-sm.jpg"
                alt="букет «Cерце з сухофруктів»" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет «Cерце з сухофруктів»</h3>
            <p class="product-card__price">575 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-6-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-6-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-6-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-6-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-6-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-6-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-6-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-6-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-6-sm.jpg"
                alt="букет Букет «Milka»" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет «Milka»</h3>
            <p class="product-card__price">410 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-7-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-7-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-7-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-7-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-7-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-7-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-7-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-7-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-7-sm.jpg"
                alt="букет з горіхів" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет з горіхів</h3>
            <p class="product-card__price">630 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class=" catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-8-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-8-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-8-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-8-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-8-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-8-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-8-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-8-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-8-sm.jpg"
                alt="букет з зефіру та шоколаду" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет з зефіру та шоколаду</h3>
            <p class="product-card__price">280 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-9-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-9-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-9-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-9-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-9-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-9-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-9-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-9-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-9-sm.jpg"
                alt="букет «Єдиноріжка»" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет «Єдиноріжка»</h3>
            <p class="product-card__price">340 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-10-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-10-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-10-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-10-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-10-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-10-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-10-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-10-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-10-sm.jpg"
                alt="букет з сухофруктами" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет з сухофруктами</h3>
            <p class="product-card__price">520 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-11-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-11-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-11-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-11-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-11-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-11-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-11-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-11-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-11-sm.jpg"
                alt="букет «Ковбаска-сир-багет»" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет «Ковбаска-сир-багет»</h3>
            <p class="product-card__price">760 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-12-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-12-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-12-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-12-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-12-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-12-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-12-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-12-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-12-sm.jpg"
                alt="букет з горіхами та сухофруктами" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет з горіхами та сухофруктами</h3>
            <p class="product-card__price">610 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <!-- <li class=" catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-13-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-13-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-13-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-13-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-13-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-13-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-13-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-13-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-13-sm.jpg"
                alt="букет з шоколаду та зефіру" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет з шоколаду та зефіру</h3>
            <p class="product-card__price">360 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-14-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-14-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-14-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-14-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-14-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-14-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-14-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-14-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-14-sm.jpg"
                alt="букет «Мармеладки»" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет «Мармеладки»</h3>
            <p class="product-card__price">335 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-15-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-15-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-15-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-15-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-15-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-15-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-15-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-15-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-15-sm.jpg"
                alt="букет ягідний з квітами" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет ягідний з квітами</h3>
            <p class="product-card__price">405 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-16-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-16-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-16-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-16-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-16-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-16-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-16-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-16-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-16-sm.jpg"
                alt="ягідний букет" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет «Cухофруктовий вінок»</h3>
            <p class="product-card__price">550 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-17-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-17-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-17-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-17-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-17-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-17-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-17-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-17-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-17-sm.jpg"
                alt="букет «М'ясний кошик»" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет «М'ясний кошик»</h3>
            <p class="product-card__price">1160 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class=" catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-18-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-18-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-18-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-18-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-18-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-18-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-18-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-18-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-18-sm.jpg"
                alt="букет з сухофруктів з зеленню" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет з сухофруктів з зеленню</h3>
            <p class="product-card__price">490 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-19-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-19-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-19-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-19-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-19-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-19-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-19-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-19-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-19-sm.jpg"
                alt="ягідний букет" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет з печіва</h3>
            <p class="product-card__price">320 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-20-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-20-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-20-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-20-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-20-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-20-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-20-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-20-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-20-sm.jpg"
                alt="букет «Cерце з сухофруктами»" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет «Millenium&Ferrero»</h3>
            <p class="product-card__price">530 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class="catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-22-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-22-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-22-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-22-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-22-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-22-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-22-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-22-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-22-sm.jpg"
                alt="букет «Cерце з сухофруктами»" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет «Cерце з сухофруктами»</h3>
            <p class="product-card__price">510 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li>
          <li class=" catalog__item product-card">
            <picture>
              <source media="(min-width:1440px)" srcset="
              ./images/bouquet-cards/bouquet-image-23-lg.webp 1x, 
              ./images/bouquet-cards/bouquet-image-23-lg@2x.webp 2x" type="image/webp">
  
              <source media="(min-width:1440px)" srcset="
                ./images/bouquet-cards/bouquet-image-23-lg.jpg 1x, 
                ./images/bouquet-cards/bouquet-image-23-lg@2x.jpg 2x" type="image/jpg">
  
              <source srcset=" 
                ./images/bouquet-cards/bouquet-image-23-sm.webp 1x,
                ./images/bouquet-cards/bouquet-image-23-sm@2x.webp 2x" type="image/webp">
  
              <source srcset=" 
              ./images/bouquet-cards/bouquet-image-23-sm.jpg 1x,
                ./images/bouquet-cards/bouquet-image-23-sm@2x.jpg 2x" type="image/jpg">
  
              <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-23-sm.jpg"
                alt="букет ягідний з полуницею" width="300" height="250" loading="lazy">
            </picture>
            <h3 class="product-card__title">Букет ягідний з полуницею</h3>
            <p class="product-card__price">480 UAH</p>
            <button class="button product-card__button" type="button">Замовити</button>
          </li> -->
        </ul>
        <button class="button catalog__button" type="button">Показати більше</button>
      </div>
      <include src="./partials/catalog-sidebar.html"></include>
    </div>
  </div>
</section>