<section class="section catalog">
  <div class="container">
    <a class="ancor-link" name="catalog"></a>
    <h2 class="section__title">Каталог</h2>
    <!-- <button class="button catalog__filter-button button--transparent" type="button">Фільтр</button> -->
    <div class="catalog__content-container">
      <div class="catalog-wrapper">
        <ul class="list catalog__list" id="catalog-list">
        </ul>
        <button class="button catalog__button button--transparent load-more-button js-load-more-button is-hidden"
          type="button">Показати більше</button>
      </div>
      <!-- <include src="./partials/catalog-sidebar.html"></include> -->
    </div>
  </div>
</section>


<!-- <ul class="list catalog__list" id="catalog-list">
  <li class="catalog__item product-card">
    <p class="product-card__label product-card__label--hit">Хіт продажів</p>
    <picture>
      <source media="(min-width:1440px)" srcset="
      ./images/bouquet-cards/bouquet-image-1-lg.webp 1x, 
      ./images/bouquet-cards/bouquet-image-1-lg@2x.webp 2x" type="image/webp">

      <source media="(min-width:1440px)" srcset="
        ./images/bouquet-cards/bouquet-image-1-lg.jpg 1x, 
        ./images/bouquet-cards/bouquet-image-1-lg@2x.jpg 2x" type="image/jpg">

      <source media="(max-width:1439.98px)" srcset=" 
        ./images/bouquet-cards/bouquet-image-1-sm.webp 1x,
        ./images/bouquet-cards/bouquet-image-1-sm@2x.webp 2x" type="image/webp">

      <source media="(max-width:1439.98px)" srcset=" 
      ./images/bouquet-cards/bouquet-image-1-sm.jpg 1x,
        ./images/bouquet-cards/bouquet-image-1-sm@2x.jpg 2x" type="image/jpg">

      <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-1-sm.jpg"
        alt="ягідний букет" width="300" height="250" loading="lazy">
    </picture>
    <h3 class="product-card__title">Ягідний букет</h3>
    <p class="product-card__price">360 ГРН</p>
    <button class="button product-card__button" type="button">Замовити</button>
  </li>
</ul> -->