<section class="section section--paddingTop catalog-links">
  <div class="container">
    <ul class="list catalog-links__list">
      <li class="catalog-links__item catalog__card">
        <a class="link" href="#catalog">
          <svg class="catalog-links__icon" width="56" height="56">
            <use href="./images/sprite.svg#icon-bouquet-1"></use>
          </svg>
          Букети з цукерок
        </a>
      </li>
      <li class="catalog-links__item catalog__card">
        <a class="link" href="#catalog">
          <svg class="catalog-links__icon" width="56" height="56">
            <use href="./images/sprite.svg#icon-bouquet-4"></use>
          </svg>
          Букети з фруктів</a>
      </li>
      <li class="catalog-links__item catalog__card">
        <a class="link" href="#catalog">
          <svg class="catalog-links__icon" width="56" height="56">
            <use href="./images/sprite.svg#icon-bouquet-2"></use>
          </svg>
          Букети з горіхів</a>
      </li>
      <li class="catalog-links__item catalog__card">
        <a class="link" href="#catalog">
          <svg class="catalog-links__icon" width="56" height="56">
            <use href="./images/sprite.svg#icon-bouquet-5"></use>
          </svg>
          Чоловічі букети</a>
      </li>
      <li class="catalog-links__item catalog__card">
        <a class="link" href="#catalog">
          <svg class="catalog-links__icon" width="56" height="56">
            <use href="./images/sprite.svg#icon-bouquet-3"></use>
          </svg>
          Дитячі букети</a>
      </li>
    </ul>
  </div>
</section>