<aside class="catalog__sidebar">
  <h2 class="visually-hidden">Фільтр</h2>

  <p class="reset-filter">
    <svg class="reset-filter__icon" width="30px" height="30px">
      <use href="./images/sprite.svg#icon-mobile-menu-close"></use>
    </svg>
    Збросити все
  </p>

  <form class="filter-form">
    <div class="filter-form__group" role="group" aria-labelledby="category">
      <p class="filter-form__title" id="category">Категорія</p>
      <label class="filter-form__label checkbox-label">
        <input class="checkbox" type="checkbox" name="category" value="candy">
        <span class="checkbox__icon-thumb">
          <svg class="checkbox__icon" width="13px" height="13px">
            <use href="./images/sprite.svg#icon-check"></use>
          </svg>
        </span>
        Букети з цукерок
      </label>
      <label class="filter-form__label checkbox-label">
        <input class="checkbox" type="checkbox" name="category" value="fruits">
        <span class="checkbox__icon-thumb">
          <svg class="checkbox__icon" width="13px" height="13px">
            <use href="./images/sprite.svg#icon-check"></use>
          </svg>
        </span>
        Букети з фруктів
      </label>
      <label class="filter-form__label checkbox-label">
        <input class="checkbox" type="checkbox" name="category" value="nuts">
        <span class="checkbox__icon-thumb">
          <svg class="checkbox__icon" width="13px" height="13px">
            <use href="./images/sprite.svg#icon-check"></use>
          </svg>
        </span>
        Букети з горіхів
      </label>
      <label class="filter-form__label checkbox-label">
        <input class="checkbox" type="checkbox" name="category" value="for-men">
        <span class="checkbox__icon-thumb">
          <svg class="checkbox__icon" width="13px" height="13px">
            <use href="./images/sprite.svg#icon-check"></use>
          </svg>
        </span>
        Чоловічі букети
      </label>
      <label class="filter-form__label checkbox-label">
        <input class="checkbox" type="checkbox" name="category" value="for-children">
        <span class="checkbox__icon-thumb">
          <svg class="checkbox__icon" width="13px" height="13px">
            <use href="./images/sprite.svg#icon-check"></use>
          </svg>
        </span>
        Дитячі букети
      </label>
    </div>

    <div class="filter-form__group" role="group" aria-labelledby="price">
      <p class="filter-form__title" id="price">Ціна</p>
      <label class="filter-form__label checkbox-label">
        <input class="checkbox" type="checkbox" name="category" value="200">
        <span class="checkbox__icon-thumb">
          <svg class="checkbox__icon" width="13px" height="13px">
            <use href="./images/sprite.svg#icon-check"></use>
          </svg>
        </span>
        200 - 400 грн
      </label>
      <label class="filter-form__label checkbox-label">
        <input class="checkbox" type="checkbox" name="category" value="400">
        <span class="checkbox__icon-thumb">
          <svg class="checkbox__icon" width="13px" height="13px">
            <use href="./images/sprite.svg#icon-check"></use>
          </svg>
        </span>
        400 - 700 грн
      </label>
      <label class="filter-form__label checkbox-label">
        <input class="checkbox" type="checkbox" name="category" value="700">
        <span class="checkbox__icon-thumb">
          <svg class="checkbox__icon" width="13px" height="13px">
            <use href="./images/sprite.svg#icon-check"></use>
          </svg>
        </span>
        700 - 1000 грн
      </label>
      <label class="filter-form__label checkbox-label">
        <input class="checkbox" type="checkbox" name="category" value="1000">
        <span class="checkbox__icon-thumb">
          <svg class="checkbox__icon" width="13px" height="13px">
            <use href="./images/sprite.svg#icon-check"></use>
          </svg>
        </span>
        > 1000 грн
      </label>
    </div>
  </form>

</aside>