<section class="section">
  <div class="container">
    <h2 class="section__title">Наші відгуки</h2>
    <div class="swiper js-customer-review-slider ">
      <div class="swiper-wrapper">
        <article class="customer-review swiper-slide">
          <h3 class="visually-hidden">Customer review</h3>
          <div class="customer-review__wrapper">
            <div class="customer-review__gradient-wrapper">
              <p class="customer-review__description">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam
                sem. In hendrerit nulla quam nunc,
                accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
          </div>
          <p class="customer-review__name"> Emily, Los Angeles</p>
        </article>

        <article class="customer-review swiper-slide">
          <h3 class="visually-hidden">Customer review</h3>

          <div class="customer-review__wrapper">
            <div class="customer-review__gradient-wrapper">
              <p class="customer-review__description">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc,
                accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
          </div>
          <p class="customer-review__name">Sophie, New York</p>
        </article>

        <article class="customer-review swiper-slide">
          <h3 class="visually-hidden">Customer review</h3>
          <div class="customer-review__wrapper">
            <div class="customer-review__gradient-wrapper">
              <p class="customer-review__description">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc,
                accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
          </div>
          <p class="customer-review__name">Katrin, Chicago</p>
        </article>
      </div>
      <div class="swiper-pagination swiper-pagination--customer"> </div>
    </div>
  </div>
</section>