<section class="section customer-review">
  <div class="container">
    <a class="ancor-link" name="customer-review"></a>
    <h2 class="section__title">Наші відгуки</h2>
    <ul class="list customer-review__list is-hidden">
      <li class="customer-review__item">
        <h3 class="visually-hidden">Відгук</h3>
        <article class="customer-review__article">
          <img class="customer-review__picture image" src="./images/customer-review/user-1.png" alt="user photo Emily"
            width="85" height="85">
          <div class="customer-review__wrapper">
            <div class="customer-review__gradient-wrapper">
              <p class="customer-review__description">
                Привітали. Всім сподобався оригінальний букет. Декілька моїх співробітників вже питали, де я замовляла
              </p>
            </div>
          </div>
          <p class="customer-review__name"> Ірина </p>
        </article>
      </li>
      <li class="customer-review__item">
        <article class="customer-review__article">
          <h3 class="visually-hidden">Відгук</h3>
          <img class="customer-review__picture image" src="./images/customer-review/user-1.png" alt="user photo Emily"
            width="85" height="85">
          <div class="customer-review__wrapper">
            <div class="customer-review__gradient-wrapper">
              <p class="customer-review__description">
                Привіт. Щиро вдячна за букет. Та за можливість порадувати найдорожчу людину, не дивлячись на те, що я за
                2000 км від неї.
                Іменинниця щаслива, я теж! Адже це не просто букет... це можливість сказати: "я тебе лююблю та сумую"!
              </p>
            </div>
          </div>
          <p class="customer-review__name">Люда</p>
        </article>
      </li>
      <li class="customer-review__item">
        <article class="customer-review__article">
          <h3 class="visually-hidden">Відгук</h3>
          <img class="customer-review__picture image" src="./images/customer-review/user-1.png" alt="user photo Emily"
            width="85" height="85">
          <div class="customer-review__wrapper">
            <div class="customer-review__gradient-wrapper">
              <p class="customer-review__description">
                Дякую за букет. Це було саме так, як ми прогнозували: "Вау! Який класний! Його їсти можна! Мої улублені
                цукерки!". Море емоцій, дитина щаслива!
              </p>
            </div>
          </div>
          <p class="customer-review__name"> Софія </p>
        </article>
      </li>
    </ul>
    <button class="button" type="button" data-viewMoreBtn>Читати</button>
  </div>
</section>


<!-- 
  <section class="section">
  <div class="container">
    <h2 class="section__title">Наші відгуки</h2>
    <div class="swiper js-customer-review-slider ">
      <div class="swiper-wrapper">
        <article class="customer-review swiper-slide">
          <h3 class="visually-hidden">Customer review</h3>
          <div class="customer-review__wrapper">
            <div class="customer-review__gradient-wrapper">
              <p class="customer-review__description">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam
                sem. In hendrerit nulla quam nunc,
                accumsan
                congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
          </div>
          <p class="customer-review__name"> Emily, Los Angeles</p>
        </article>

        <article class="customer-review swiper-slide">
          <h3 class="visually-hidden">Customer review</h3>
          <div class="customer-review__wrapper">
            <div class="customer-review__gradient-wrapper">
              <p class="customer-review__description">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, 
                accumsan congue. Lorem ipsum primis in nibh vel risus.
                accumsan congue. Lorem ipsum primis in nibh vel risus.
                accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <p class="customer-review__name">Sophie, New York</p>
        </article>

        <article class="customer-review swiper-slide">
          <h3 class="visually-hidden">Customer review</h3>
          <div class="customer-review__wrapper">
            <div class="customer-review__gradient-wrapper">
              <p class="customer-review__description">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc,
                accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
          </div>
          <p class="customer-review__name">Katrin, Chicago</p>
        </article>
      </div>
      <div class="swiper-pagination swiper-pagination--customer"> </div>
    </div>
  </div>
</section>
 -->