<footer class="footer">
  <div class="container footer__container">

    <div class="footer__wrapper">
      <div class="footer-contacts">
        <a class="link logo footer__logo" href="./index.html">
          <svg class="logo__icon" width="46" height="46">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="list footer-contact__list">
          <li class="footer-contact__item">
            <a class="link footer-contact__link" href="tel:++380664890575">
              <svg class="footer-contact__icon footer-contact__icon--phone" width="24" height="24">
                <use href="./images/sprite.svg#icon-smartphone"></use>
              </svg>
              +38 066 489 05 75
            </a>
          </li>
          <li class="footer-contact__item">
            <a class="link footer-contact__link" href="https://www.instagram.com/da_buket_/" target="_blank"
              rel="noreferrer noopener" aria-label="Посилання на Instagram">
              <svg class="footer-contact__icon footer-contact__icon--instagram" width="24px" height="24px">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
              Da_buket
            </a>
          </li>
        </ul>
      </div>

      <ul class="list footer__working-hours footer__working-hours--mobile">
        <li>Пн-Пт 09.00-18.00</li>
        <li>Сб-Нд вихідні</li>
      </ul>

      <ul class="list footer__list">
        <li class="footer__item">
          <ul class="list">
            <li><a class="link footer__link" href="./catalog.html">Букети з цукерок</a></li>
            <li><a class="link footer__link" href="./catalog.html">Букети з фруктів</a></li>
            <li><a class="link footer__link" href="./catalog.html">Букети з горіхів</a></li>
            <li><a class="link footer__link" href="./catalog.html">Чоловічі букети</a></li>
            <li><a class="link footer__link" href="./catalog.html">Дитячі букети</a></li>
          </ul>
        </li>
        <li class="footer__item">
          <ul class="list">
            <li class=""><a class="link footer__link" href="./catalog.html">Каталог</a></li>
            <li class=""><a class="link footer__link" href="./index.html#benefits">Чому обирають нас?</a></li>
            <li class=""><a class="link footer__link" href="./index.html#about">Про нас</a></li>
            <li class=""><a class="link footer__link" href="./index.html#how-it-work">Як це працює?</a></li>
            <li class=""><a class="link footer__link" href="./index.html#customer-review">Відгуки</a></li>
            <li class=""><a class="link footer__link" href="./blog.html">Блог</a></li>
          </ul>
        </li>
      </ul>

      <ul class="list footer__working-hours footer__working-hours--tablet">
        <li class="working-hours__item">Пн-Пт 09.00-18.00</li>
        <li class="working-hours__item">Сб-Нд вихідні</li>
      </ul>
    </div>

    <ul class="list socials footer__socials">
      <li class="socials__item footer-socials__item">
        <a class="link socials__link" href="https://www.instagram.com/da_buket_/" target="_blank"
          rel="noreferrer noopener" aria-label="Посилання на Instagram">
          <svg class="socials__icon" width="20px" height="20px">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item footer-socials__item">
        <a class="link socials__link" href="#" target="_blank" rel="noreferrer noopener"
          aria-label="Посилання на Telegram">
          <svg class="socials__icon" width="20px" height="20px">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item footer-socials__item">
        <a class="link socials__link" href="#" target="_blank" rel="noreferrer noopener"
          aria-label="Посилання на Watsapp">
          <svg class="socials__icon" width="20px" height="20px">
            <use href="./images/sprite.svg#icon-whatsapp"></use>
          </svg>
        </a>
      </li>
    </ul>

    <ul class="list footer__policy">
      <li><a class="link" href="">Політика конфіденційності</a></li>
      <li><a class="link" href="">Угода користувача</a></li>
      <li>&#169; 2022 - Da_buket. All Rights Reserved.</li>
    </ul>
  </div>
</footer>

<!-- <div class="distribution">
    <p class="footer__title">Подпишитесь на рассылку</p>
    <form class="distribution__form">
      <label class="distribution__label">
        <input class="distribution__input" name="email" type="email" placeholder="E-mail">
      </label>
      <button class="button button__main button__main--with-icon" type="submit">Подписаться
        <svg class="button__icon" width="24px" height="24px">
          <use href="./images/icons/icons.svg#icon-plane"></use>
        </svg>
      </button>
    </form>
  </div> -->