<section class="section gallery">
  <div class="container">
    <h2 сlass="section__title gallery__title">Ми в Instagram</h2>
    <a class="link gallery__link" href="#">@da_buket</a>
    <div class="swiper js-gallery-swiper">
      <ul class="list swiper-wrapper">
        <li class="swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-1-sm.jpg" alt=""
            width="310" width="310"></li>
        <li class="swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-2-sm.jpg" alt=""
            width="310" width="310"></li>
        <li class="swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-3-sm.jpg" alt=""
            width="310" width="310"></li>
        <li class="swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-4-sm.jpg" alt=""
            width="310" width="310"></li>
        <li class="swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-5-sm.jpg" alt=""
            width="310" width="310"></li>
      </ul>
    </div>
    <div class="swiper-pagination"> </div>
  </div>
</section>