<section section="section gallery">
  <div class="container">
    <h2 сlass="section__title gallery__title">Ми в Instagram</h2>
    <a class="link gallery__link" href="#">@da_buket</a>
    <ul class="list">
      <li><img class="image" src="./images/bouquet-cards/bouquet-image-1-sm.jpg" alt="" width="310" width="310"></li>
      <li><img class="image" src="./images/bouquet-cards/bouquet-image-2-sm.jpg" alt="" width="310" width="310"></li>
      <li><img class="image" src="./images/bouquet-cards/bouquet-image-3-sm.jpg" alt="" width="310" width="310"></li>
      <li><img class="image" src="./images/bouquet-cards/bouquet-image-4-sm.jpg" alt="" width="310" width="310"></li>
      <li><img class="image" src="./images/bouquet-cards/bouquet-image-5-sm.jpg" alt="" width="310" width="310"></li>
    </ul>
  </div>
</section>