<section class="section gallery">
  <div class="container gallery__container">
    <h2 сlass="section__title gallery__title">Ми в Instagram</h2>
    <a class="link gallery__link" href="https://www.instagram.com/da_buket_/" target="_blank" rel="noreferrer noopener"
      aria-label="Посилання на Instagram">
      @da_buket
    </a>
    <div class="swiper-mobile">
      <div class="swiper js-gallery-swiper-mobile">
        <ul class="list gallery__list swiper-wrapper">
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-1-sm.jpg"
              alt="" width="320" height="310"></li>
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-2-sm.jpg"
              alt="" width="320" height="310"></li>
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-3-sm.jpg"
              alt="" width="320" height="310"></li>
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-4-sm.jpg"
              alt="" width="320" height="310"></li>
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-5-sm.jpg"
              alt="" width="320" height="310"></li>
        </ul>
      </div>
      <div class="swiper-pagination--gallery-mobile"></div>
    </div>

    <div class="swiper-tablet">
      <div class="swiper js-gallery-swiper-tablet">
        <ul class="list gallery__list swiper-wrapper">
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-1-sm.jpg"
              alt="" width="310" height="310"></li>
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-2-sm.jpg"
              alt="" width="310" height="310"></li>
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-3-sm.jpg"
              alt="" width="310" height="310"></li>
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-4-sm.jpg"
              alt="" width="310" height="310"></li>
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-5-sm.jpg"
              alt="" width="310" height="310"></li>
        </ul>
      </div>
      <div class="swiper-pagination--gallery-tablet"></div>
    </div>

    <div class="swiper-desktop">
      <div class="swiper js-gallery-swiper-desktop">
        <ul class="list gallery__list swiper-wrapper">
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-1-sm.jpg"
              alt="" width="310" height="310"></li>
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-2-sm.jpg"
              alt="" width="310" height="310"></li>
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-3-sm.jpg"
              alt="" width="310" height="310"></li>
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-4-sm.jpg"
              alt="" width="310" height="310"></li>
          <li class="gallery__item swiper-slide"><img class="image" src="./images/bouquet-cards/bouquet-image-5-sm.jpg"
              alt="" width="310" height="310"></li>
        </ul>
      </div>
      <div class="swiper-pagination--gallery-desktop"></div>
    </div>
  </div>
</section>