<header class="header">
  <div class="header__tablet-desktop">
    <div class="header-upperside">
      <div class="container header-upperside__container">
        <a class="link map header__map" href="#">
          <svg class="map__icon" width="26px" height="26px">
            <use href="./images/sprite.svg#icon-map-pin"></use>
          </svg>
          Київ
        </a>
        <nav class="navigation">
          <ul class="list navigation__list">
            <li class="navigation-item"><a class="link navigation__link" href="./index.html">Головна</a></li>
            <li class="navigation-item"><a class="link navigation__link" href="./catalog.html">Каталог товарів</a></li>
            <li class="navigation-item"><a class="link navigation__link" href="./index.html#benefits">Чому нас
                обирають?</a></li>
            <li class="navigation-item"><a class="link navigation__link" href="./index.html#customer-review">Відгуки</a>
            </li>
            <li class="navigation-item"><a class="link navigation__link" href="./index.html#gallery">Галлерея</a></li>
            <li class="navigation-item"><a class="link navigation__link" href="./blog.html">Блог</a></li>
          </ul>
        </nav>

        <!-- через выпадающее меню - из кнопки "каталог"
                  <li class="navigation__item"><a class="link navigation__link" href="#special-offer">Спеціальна пропозиція</a></li>
          <li class="navigation__item"><a class="link navigation__link" href="#recommendation">Рекомендуємо</a></li>
       -->

        <ul class="list socials header__socials">
          <li class="socials__item">
            <a class="link socials__link" href="https://www.instagram.com/da_buket_/" target="_blank"
              rel="noreferrer noopener" aria-label="Посилання на Instagram">
              <svg class="socials__icon" width="27px" height="27px">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="link socials__link" href="#" target="_blank" rel="noreferrer noopener"
              aria-label="Посилання на Telegram">
              <svg class="socials__icon" width="27px" height="27px">
                <use href="./images/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a class="link socials__link" href="#" target="_blank" rel="noreferrer noopener"
              aria-label="Посилання на Watsapp">
              <svg class="socials__icon" width="27px" height="27px">
                <use href="./images/sprite.svg#icon-whatsapp"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="header-downside">
      <div class="container header-downside__container">
        <a class="link logo" href="./index.html">
          <svg class="logo__icon" width="44" height="44">
            <use href="./images/sprite.svg#icon-logo"></use>
          </svg>
        </a>

        <ul class="list header-downside__list">
          <li class="header-downside__item">
            <a class="link header-downside__link" href="./index.html#about">Про нас</a>
          </li>
          <li class="header-downside__item">
            <a class="link header-downside__link" href="./index.html#how-it-works">Як це працює?</a>
          </li>
          <li class="header-downside__item">
            <a class="link header-downside__link" href="tel:++380664890575">
              <svg class="header-downside__icon" width="24" height="24">
                <use href="./images/sprite.svg#icon-smartphone"></use>
              </svg>
              +38 066 489 05 75
            </a>
          </li>
          <li class="header-downside__item">
            <a class="link header-downside__link" href="https://www.instagram.com/da_buket_/" target="_blank"
              rel="noreferrer noopener" aria-label="Посилання на Instagram">
              <svg class="header-downside__icon" width="20px" height="20px">
                <use href="./images/sprite.svg#icon-instagram"></use>
              </svg>
              Da_buket
            </a>
          </li>
        </ul>

        <ul class="list header__working-hours">
          <li class="working-hours__item header-working-hours__item">Пн-Пт 0 9.00-18.00</li>
          <li class="working-hours__item header-working-hours__item">Сб-Нд вихідні</li>
        </ul>

        <button class="basket" type="button" data-basket-modal-open>
          <svg class="basket__icon" width="32" height="32">
            <use href="./images/sprite.svg#icon-shopping-bag"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <include src="./partials/mobile-menu.html"></include>
</header>