<header>
  <div class="container">
    <p>Місто</p>
    <nav>
      <ul>
        <li><a href="#">Про нас</a></li>
        <li><a href="#">Каталог товарів</a></li>
        <li><a href="#">Доставка і оплата</a></li>
        <li><a href="#">Відгуки</a></li>
        <li><a href="#">Контакти</a></li>
      </ul>
    </nav>

    <ul class="list socials">
      <li class="socials__item">
        <a class="link socials__link" href="https://www.instagram.com/" target="_blank" rel="noreferrer noopener"
          aria-label="Ссылка на Instagram">
          <svg class="socials__icon" width="20px" height="20px">
            <!-- <use href="./images/icons/icons.svg#icon-instagram"></use> -->
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="link socials__link" href="https://twitter.com/" target="_blank" rel="noreferrer noopener"
          aria-label="Ссылка на Twitter">
          <svg class="socials__icon" width="20px" height="20px">
            <!-- <use href="./images/icons/icons.svg#icon-twitter"></use> -->
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="link socials__link" href="https://www.facebook.com/" target="_blank" rel="noreferrer noopener"
          aria-label="Ссылка на Facebook">
          <svg class="socials__icon" width="20px" height="20px">
            <!-- <use href="./images/icons/icons.svg#icon-facebook"></use> -->
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a class="link socials__link" href="https://www.linkedin.com/" target="_blank" rel="noreferrer noopener"
          aria-label="Ссылка на LinkedIn">
          <svg class="socials__icon" width="20px" height="20px">
            <!-- <use href="./images/icons/icons.svg#icon-linkedin"></use> -->
          </svg>
        </a>
      </li>
    </ul>


    <a class="logo header__logo" href="./index.html">Logo</a>
    <ul>
      <li><a href="">Телефон</a></li>
      <li><a href="">Е-мейл</a></li>
    </ul>

    <label>Знайти букет
      <input type="text">
    </label>

    <p>Корзина</p>
  </div>
</header>