<section class="section how-it-works">
  <div class="container">
    <h2 class="section__title how-it-works__title">Як це працює?</h2>
    <ul class="list how-it-works__list">
      <li class="how-it-works__item">
        <div class="how-it-works__wrapper">
          <div class="how-it-works__title-group">
            <div class="how-it-works__thumb">
              <svg class="how-it-works__icon" width="63" height="63">
                <use href="./images/sprite.svg#icon-number-1"></use>
              </svg>
            </div>
            <h3 class="how-it-works__title">
              Замовлення
            </h3>
          </div>
          <p class="how-it-works__description">Оберіть букет чи замовте зворотній дзвінок.</p>
          <p class="how-it-works__description">Ми створюємо - ви дивуєте</p>
        </div>
      </li>
      <li class="how-it-works__item">
        <div class="how-it-works__wrapper">
          <div class="how-it-works__title-group">
            <div class="how-it-works__thumb">
              <svg class="how-it-works__icon" width="63" height="63">
                <use href="./images/sprite.svg#icon-number-2"></use>
              </svg>
            </div>
            <h3 class="how-it-works__title">
              Оформлення та оплата.
            </h3>
          </div>
          <p class="how-it-works__description">Ми зв'яжемося з вами для узгодження замовлення, вартості та місця
            доставки.
          <p class="how-it-works__description">Робимо замовлення за 1-2 дні</p>
          </p>
        </div>
      </li>
      <li class="how-it-works__item">
        <div class="how-it-works__wrapper">
          <div class="how-it-works__title-group">
            <div class="how-it-works__thumb">
              <svg class="how-it-works__icon" width="63" height="63">
                <use href="./images/sprite.svg#icon-number-3"></use>
              </svg>
            </div>
            <h3 class="how-it-works__title">
              Доставка
            </h3>
          </div>
          <p class="how-it-works__description"> Ми доставимо ваше замовлення в потрібне місце, в потрібний час.</p>
          <p class="how-it-works__description">Можливий самовивіз або доставка (від 150 грн)</p>
        </div>
      </li>
      <li class="how-it-works__item">
        <div class="how-it-works__wrapper">
          <div class="how-it-works__title-group">
            <div class="how-it-works__thumb">
              <svg class="how-it-works__icon" width="63" height="63">
                <use href="./images/sprite.svg#icon-number-4"></use>
              </svg>
            </div>
            <h3 class="how-it-works__title">
              Відгук
            </h3>
          </div>
          <p class="how-it-works__description"> Будемо вдячні відгуку від вас про нашу роботу</p>
        </div>
      </li>
    </ul>
  </div>
</section>