<section class="section section--paddingTop how-it-works">
  <div class="container">
    <h2 class="section__title">Як це працює?</h2>
    <ul class="list how-it-works__list">
      <li class="how-it-works__item">
        <h3 class="how-it-works__title">Замовлення</h3>
        <p class="how-it-works__description">Оберіть букет чи замовте зворотній дзвінок</p>
      </li>
      <li class="how-it-works__item">
        <h3 class="how-it-works__title">Оформлення та оплата</h3>
        <p class="how-it-works__description">Ми зв'яжемося з вами для узгодження замовлення, вартості та місця доставки</p>
      </li>
      <li class="how-it-works__item">
        <h3 class="how-it-works__title">Доставка</h3>
        <p class="how-it-works__description"> Ми доставимо ваше замовлення в потрібне місце, в потрібний час</p>
      </li>
      <li class="how-it-works__item">
        <h3 class="how-it-works__title">Відгук</h3>
        <p class="how-it-works__description"> Будемо вдячні відгуку від вас про нашу роботу</p>
      </li>
    </ul>
  </div>
</section>