<section class="section last-visited">
  <div class="container">
    <h2 class="section__title">Нещодавно переглянуті</h2>
    <ul class="list last-visited-list">
    </ul>
  </div>
</section>

<!-- 

    <div class="about__text-group--marginBtm">
    <p class="about__text">✨Насолода в кожному букеті</p>
    <p class="about__text">🎉 Ми створюємо - ви дивуєте</p>

    <p class="about__text">🎀 Листівка у подарунок</p>
    <p class="about__text">🚚 Замовлення за 1-2дн.</p>
    <p>🚚 Самовивіз або доставка від 150 грн</p>
  </div>
  

✨Насолода в кожному букеті
🎉 Ми створюємо - ви дивуєте
🎀 Листівка у подарунок
🚚Замовлення за 1-2дн.
Анна
Самовивіз/доставка від 150 грн


В нашей мастерской есть правило: вы всегда получаете фото букета перед его отправкой.

✓Таким образом вы видите, подарок, который отравится напрямую к получателю, если букет едет не к вам.

✓ На этом этапе можете внести корректировки в упаковку, цвет ленты, добавить открытку и и.д.

✓ При необходтмости можем и видео готового букета снять со всех сторон.

Кстати, мы отправляем два фото букета. Как думаете чем они отличаются?
-->