<section class="section last-visited">
  <div class="container">
    <h2 class="section__title">Нещодавно переглянуті</h2>
    <ul class="list last-visited-list">
    </ul>
  </div>
</section>

<!-- 

    <div class="about__text-group--marginBtm">
    <p class="about__text">✨Насолода в кожному букеті</p>
    <p class="about__text">🎉 Ми створюємо - ви дивуєте</p>

    <p class="about__text">🎀 Листівка у подарунок</p>
    <p class="about__text">🚚 Замовлення за 1-2дн.</p>
    <p>🚚 Самовивіз або доставка від 150 грн</p>
  </div>
  

✨Насолода в кожному букеті
🎉 Ми створюємо - ви дивуєте
🎀 Листівка у подарунок
🚚Замовлення за 1-2дн.
Анна
Самовивіз/доставка від 150 грн


В нашей мастерской есть правило: вы всегда получаете фото букета перед его отправкой.

✓Таким образом вы видите, подарок, который отравится напрямую к получателю, если букет едет не к вам.

✓ На этом этапе можете внести корректировки в упаковку, цвет ленты, добавить открытку и и.д.

✓ При необходтмости можем и видео готового букета снять со всех сторон.

Кстати, мы отправляем два фото букета. Как думаете чем они отличаются?



BLOG
Сегодня Полезный понедельник смело можно переименовать в Интересный понедельник👇.

Подобрала для вас интересные факты про цветы. Для меня пункт #4 стал неожиданным открытием.

✓ Самый маленький цветок в мире, занесенный в книгу рекордов Гиннеса, - Вольфия бескорневая. Ее d=1 мм (см. фото 2). Самым большим цветком на земле считается тропическое растение Раффлезия Арнольди. D=91 см и весит около 11 килограмм (см. фото 3)

✓ Белых цветов не бывает. Они бесцветные, то есть не имеют какие-либо цветные пигменты и просто отражают солнечный свет.

✓ Благодаря способности пчел видеть в ультрафиолете, они могут определять цветы с нектаром и без.

✓ Существует цветок, который распускается не над землей, а под ней. И опыляют его не пчелы, а подземные жуки. Этот цветок - орхидея Ризантелла (фото 4).

✓ Первые в мире цветочные часы были высажены в 1720 году в Швейцарии. Циферблат был разделен на 12 секторов, засаженных различными видами цветов, которые распускались в разное время суток.

✓ Существует уже более 50 000 сортов роз и их гибридов. Это самый популярный цветок в мире.

Интересно, что для вас стало открытием из прочитанного? О чем вы узнали впервые?

Фото из Википедия
------------
Когда мы говорим, о замене или добавлении любого составляющего в букет, мы даём возможность нашим клиентам лично поучаствовать в создании подарка для одаряемого. И клиенты с радостью включаются в этот креатив.

Букет на фото был изменён согласно пожеланиям клиента. Раз увидев елочки из фисташек в мясном букете, заказчик захотел добавить ее в сухофруктовый букет. Нам идея понравилась. А как вам?

Создавая подарки Индивидуальность в каждом орешке

Когда мы говорим, о замене или добавлении любой составляющей в букет, мы даём возможность нашим клиентам лично поучаствовать в создании подарка для одаряемого. И клиенты с радостью включаются в этот креатив.

Букет на фото был создан из состава, предложенного клиентом. Раз увидев елочки из фисташек в мясном букете, заказчик захотел добавить ее в сухофруктовый букет. Нам идея понравилась. А как вам?

Создавая подарки с @ba_buket_, вы становитесь частью команды. Поэтому наши букеты такие душевные и заряженные позитивом.

Для заказа букета, пишите в директ.

Стоимость букета на фото 1090 грн.с @ba_buket_, вы становитесь частью команды. Поэтому наши букеты такие душевные и заряженные позитивом.

Для заказа букета, пишите в директ.

--------

Мясной конверт. Без лишних слов. Только факты.

✅ Практичный
Такой презент не будет пылиться в гараже, не будет лежать грузом на полке, его каждый мужчина сразу применит по назначению.

✅ Трендовый
Мужские букеты все больше и больше становятся актуальными. Кто-то о них слышал, кто-то видел, а ваш мужчина будет им обладать.

✅ Удобный
🔹в заказе (увидели, написали "хочу" под нужным конвертов, мы вам доставили),
🔹в транспортировке (если забираете сами, то конверт удобно зафиксировать в машине),
🔹в дегустации (конверт просто нужно поставить на стол, или взять на колени перед футбольной игрой и съесть).

✅ Надёжный
С таким подарком вы легко завоюете титул "богини подарков" и попадете в самое 🎯 своего мужчины.

✅ Аппетитный
Только посмотрите на это фото оно говорит само за себя.
Ммм, объедение...

Наши клиенты уже убедились в правдивости этих фактов. Пишите в директ, мы убедим и вас.

Стоимость букета на момент публикации 580 грн. Напитки оплачиваются по чеку.

-----------------
НОЯБРЬ 20, 2020
В каждом фудбукете есть свои волшебные составляющие. На них сразу не падает взгляд, но их наличие придает магии букету.

✨цвет ленточки,
✨размер бантика,
✨фактура финишной упаковки,
✨способ упаковки букета,
✨невидимо прикреплённая визитка с инструкцией,
✨открытка..

Все эти мелочи создают гармонию в букете и наделяют его магической силой.

Смотрите фото в карусели, на что не сразу обращаешь внимание, но что становится изюминкой каждого букета!

Вы любите рассматривать подарки или сразу переходите к распаковке)?
---------------

Представьте: вы приходите на праздник с букетом от @maisternia_m и сразу оказываетесь в центре внимания.

Глаза окружающих прикованы к вашим рукам. Все разговоры затихают. И со всех сторон слышны только междометия: ух ты! вау! ничего себе! браво!

Одаряемый забывает про все остальные подарки. Его сердце покорено вашим небанальным, оригинальным, съедобным букетом.

Представили?
Теперь скорее принимайтесь за дело! Пишите нам в директ и мы вместе подберём букет, с которым вы будете покорять сердце именинника.

------------------


как дарить букеты
Мы уверенны,что о всех правилах вы слышали. Хотим о них напомнить.

✨В ИЛИ БЕЗ УПАКОВКИ
Упаковку можно снять, если она не является дизайнерской составляющей букета. Это нужно сделать заранее, чтобы получатель ее не видел.

✨ПОДАЧА БУКЕТА
Вручайте композицию бутонами вверх левой рукой. Правая должна остаться свободной для рукопожатия и благодарности.

✨ СЛОВА ПРИ ВРУЧЕНИИ
Заранее подготовьте комплимент или короткое поздравление. Молча цветы не дарят.

✨НЕ ОТВОДИТЕ ВЗГЛЯД В СТОРОНУ
Смотрите прямо и дружелюбно.

✨ИСКРЕННОСТЬ
Чувство, с которым нужно дарить любой подарок, не только букет

А вы часто дарите букеты?

-----------
Делаем ли мы скидки?

Конечно делаем! Хотите узнать как можно получить у нас дисконт?)

1. Стать постоянным клиентом.
Дорогие наши, большое спасибо, что вы у нас есть. Это значит, что мы все делаем незря.
После заказа 5-и букетов вы получаете -10% на следующие заказы.

2. При заказе сразу трёх и более букетов.
В таких случаях не нужно ждать 5-го букета. Мы сразу предлагаем на заказ 10%.

3. Массовые праздники (День учителя, 8 Марта, 14 октября и т.д.).
На линейку букетов, подготовленных к этим праздникам, устанавливаюися специальные цены с автоматически прощитанным дисконтом.

4. По промокоду.
Такие акции можно "словить" в наших сторис. По промокоду можно получить от 5% до 7% скидки.

5. Выиграть одноразовый сертификат.
В таком случае мы даём одноразовую процентную скидку (до -15%), либо фиксированную сумму самой скидки (например: 200 грн при заказе букета на сумму от 800 грн)
Как раз недавно проводили розыгрыш такого сертификата.

Скидки не суммируются.

------------

Отвечаю на часто задаваемые вопросы. А вы читаете и сохраняйте.
⠀
👍Как долго букет хранится в мастерской?
⠀
Букет собираем за 2 часа до выдачи. И нет разницы доставка в 05:00 или в 22:00. Букет все равно собираем за 2 часа до выдачи.
⠀
👍 Будем ехать в другой город с вашим букетом, что посоветуете?
⠀
Посоветуем самый стойкий, но не менее красивый вариант (букет из сухофруктов, орехов, боксик)
⠀
👍 Возможна ли доставка в другой город?
⠀
Да, но не всех букетов. Мы предложим самую ПОЧТОВЫНОСЛИВУЮ композицию из сухофруктов или конфет.
⠀
👍 Букет с цветами нужно ставить в вазу с водой?
⠀
Нет. Цветы в букете уже в воде в специальных колбочка.
⠀
👍 Мы не местные, а хотим поздравить родственника из Киева, можно?
⠀
Конечно! Подберем с вами букет, сделаем его, доставим и фотоотчёт ещё предоставим).
⠀
👍Что для вас самое главное в работе?
⠀
Ваши эмоции - самая главная наша награда☀️💛
⠀

-----------

Все большую и большую популярность набирают фудкомпозиции в боксах, коробочках или ящичках.
⠀
Поэтому хочу поделиться с вами всеми ЗА и ПРОТИВ фудбукетов и композиций в коробочке.
⠀
БУКЕТ
➕ Необычный подарок.
О фудбукетах много, кто слышал, но мало, кто получал😉
➕ Удивительный презент
- ВАУ!!! Ухты! Ничего себе! Что, это букет?? Невероятно! А что его ещё и съесть можно?! - вот самые популярные восклицания и вопросы при виде съедобного букета.
➕ Нужна ваза для устойчивости (многим видам букетов)
➕Не нужно ставить в воду
Как сам букет, так и цветы, добавленные в него, хорошо стоят без вазы. Цветы уже в воде (в колбочках с водой).
➕ Дешевле, чем в коробке, боксе или ящичке.
⠀
➖ Тяжелее в транспортировке.
Есть букеты, которые можно перевозить горизонтальна. Для вертикальной перевозки требуется специальная коробка.
➖ Менее экологично.
Используется скотч, колбы, бумага.
⠀
КОРОБОЧКА (КОМПОЗИЦИЯ)
➕ Небанальный подарок
➕ Восхищение
➕ Стоит без всякой помощи и вазы
➕ Нет необходимости ставить в воду
➕ Новый набирающий тренд в фудфлористике
➕ Удобнее при транспортировке
➕ Коробочку, бокс или ящик можно использовать в дальнейшем повторно
➕Более экологично, так как не используется скотч, а только флористическая пена.
⠀
➖ Дороже, чем букет
➖ Многие любят именно букеты
➖ Композиция тяжелее букета
⠀
Мне больше нечего скрывать). Теперь вы знаете все! Выбирайте: букет или композиция. Пишите в комментариях. Сравним, что вам больше нравится.
 -->