<div class="mobile-menu">
  <div class="container">
    <p>Місто</p>
    <a class="link" href="">Телефон</a>
  
    <a class="link logo header__logo" href="./index.html">Logo</a>
    <p>Корзина</p>
  
    <label>Знайти букет
      <input type="text">
    </label>
  </div>

<!-- <nav class="navigation">
  <ul class="list navigation__list">
    <li><a class="link" href="#">Про нас</a></li>
    <li><a class="link" href="#">Каталог товарів</a></li>
    <li><a class="link" href="#">Доставка і оплата</a></li>
    <li><a class="link" href="#">Відгуки</a></li>
    <li><a class="link" href="#">Контакти</a></li>
  </ul>
</nav> -->  

</div>