<!-- Modal window-->
<div class="backdrop is-hidden js-backdrop" data-orderComplete>
  <div class="modal order-complete-modal js-modal">
    <button class="btn-close" aria-label="закрыть модальное окно" data-orderComplete-close>
      <svg class="btn-close__icon" width="18px" height="18px">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <p class="order-complete-text"> Дякуємо, ми отримали Ваше замовлення і зв'яжемося з вами протягом дня для
      узгодження деталей</p>

  </div>
</div>