<section class="section section--paddingTop question-form">
  <div class="container">
    <h2 class="section__title question-form__title">Залишились питання?</h2>
    <p class="question-form__description"> Відправте Ваш запит, замовлення, пропозицію чи скаргу через форму зворотнього зв'язку. 
      Ми обов'язково з Вами зв'яжемося</p>

    <form class="form" method="post">
      <label class="form__group">
        <input class="form__input" type="name" placeholder=" ">
        <span class="form__label">Ім'я*</span>
      </label>
      <label class="form__group">
        <input class="form__input" type="tel" placeholder=" ">
        <span class="form__label">Телефон*</span>
      </label>
      <label class="form__group form__group--message">
        <textarea class="form__input form__input--message" name="user-message" rows=5" placeholder=" "></textarea>
        <span class="form__label">Повідомлення</span>
      </label>
      <button class="button" type="submit">Відправити</button>
    </form>
  </div>
</section>