<section class="form">
  <div class="container">
    <h2 class="section__title">Залишились питання?</h2>
    <p>Отправьте ваш вопрос, заказ, предложение или жалобу через форму обратной связи, и наш специалист свяжется с
      вами в течение 15 минут.</p>

    <form class="form" method="post">
      <label class="form__group">
        <input class="form__input" type="name" placeholder=" ">
        <span class="form__label">Имя*</span>
      </label>
      <label class="form__group">
        <input class="form__input" type="tel" placeholder=" ">
        <span class="form__label">Телефон*</span>
      </label>
      <label class="form__group form__group--message">
        <textarea class="form__input form__input--message" name="user-message" rows=5" placeholder=" "></textarea>
        <span class="form__label">сообщение</span>
      </label>
      <button class="button" type="submit">отправить</button>
    </form>
  </div>
</section>