<section class="section recommendation">
  <div class="container recommendation__container">
    <a class="ancor-link" name="recommendation"></a>
    <h2 class="section__title recommendation__title">Рекомендуємо</h2>
    <a class="link to-catalog to-catalog--desktop" href="./catalog.html">
      Перейти до каталогу
      <svg class="to-catalog__icon" width="32" height="32">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </a>
    <ul class="list recommendation__list">
      <li class="recommendation__item product-card">
        <picture>
          <source media="(min-width:1440px)" srcset="
          ./images/bouquet-cards/bouquet-image-3-lg.webp 1x, 
          ./images/bouquet-cards/bouquet-image-3-lg@2x.webp 2x" type="image/webp">

          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-3-lg.jpg 1x, 
            ./images/bouquet-cards/bouquet-image-3-lg@2x.jpg 2x" type="image/jpg">

          <source srcset=" 
            ./images/bouquet-cards/bouquet-image-3-sm.webp 1x,
            ./images/bouquet-cards/bouquet-image-3-sm@2x.webp 2x" type="image/webp">

          <source srcset=" 
          ./images/bouquet-cards/bouquet-image-3-sm.jpg 1x,
            ./images/bouquet-cards/bouquet-image-3-sm@2x.jpg 2x" type="image/jpg">

          <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-3-sm.jpg"
            alt="букет кіндер-сюрприз" width="300" height="250" loading="lazy">
        </picture>
        <h3 class="product-card__title">Букет «Кіндер-сюрприз»</h3>
        <p class="product-card__price">540 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class="recommendation__item product-card">
        <picture>
          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-2-lg.webp 1x, 
            ./images/bouquet-cards/bouquet-image-2-lg@2x.webp 2x" type="image/webp">

          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-2-lg.jpg 1x, 
            ./images/bouquet-cards/bouquet-image-2-lg@2x.jpg 2x" type="image/jpg">

          <source media="(max-width:1439.98px)" srcset="
            ./images/bouquet-cards/bouquet-image-2-sm.webp 1x, 
            ./images/bouquet-cards/bouquet-image-2-sm@2x.webp 2x" type="image/webp">

          <source media="(max-width:1439.98px)" srcset=" 
          ./images/bouquet-cards/bouquet-image-2-sm.jpg 1x,
            ./images/bouquet-cards/bouquet-image-2-sm@2x.jpg 2x" type="image/jpg">

          <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-2-sm.jpg"
            alt="букет ковбаска-сир" width="300" height="250" loading="lazy">
        </picture>
        <h3 class="product-card__title">Букет "Ковбаска-сир"</h3>
        <p class="product-card__price">810 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class="recommendation__item product-card">
        <picture>
          <source media="(min-width:1440px)" srcset="
          ./images/bouquet-cards/bouquet-image-10-lg.webp 1x, 
          ./images/bouquet-cards/bouquet-image-10-lg@2x.webp 2x" type="image/webp">

          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-10-lg.jpg 1x, 
            ./images/bouquet-cards/bouquet-image-10-lg@2x.jpg 2x" type="image/jpg">

          <source srcset=" 
            ./images/bouquet-cards/bouquet-image-10-sm.webp 1x,
            ./images/bouquet-cards/bouquet-image-10-sm@2x.webp 2x" type="image/webp">

          <source srcset=" 
          ./images/bouquet-cards/bouquet-image-10-sm.jpg 1x,
            ./images/bouquet-cards/bouquet-image-10-sm@2x.jpg 2x" type="image/jpg">

          <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-10-sm.jpg"
            alt="букет з сухофруктами" width="300" height="250" loading="lazy">
        </picture>
        <h3 class="product-card__title">Букет з сухофруктами</h3>
        <p class="product-card__price">520 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class="recommendation__item product-card">
        <picture>
          <source media="(min-width:1440px)" srcset="
          ./images/bouquet-cards/bouquet-image-14-lg.webp 1x, 
          ./images/bouquet-cards/bouquet-image-14-lg@2x.webp 2x" type="image/webp">

          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-14-lg.jpg 1x, 
            ./images/bouquet-cards/bouquet-image-14-lg@2x.jpg 2x" type="image/jpg">

          <source srcset=" 
            ./images/bouquet-cards/bouquet-image-14-sm.webp 1x,
            ./images/bouquet-cards/bouquet-image-14-sm@2x.webp 2x" type="image/webp">

          <source srcset=" 
          ./images/bouquet-cards/bouquet-image-14-sm.jpg 1x,
            ./images/bouquet-cards/bouquet-image-14-sm@2x.jpg 2x" type="image/jpg">

          <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-14-sm.jpg"
            alt="букет «Мармеладки»" width="300" height="250" loading="lazy">
        </picture>
        <h3 class="product-card__title">Букет «Мармеладки»</h3>
        <p class="product-card__price">335 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class="recommendation__item product-card">
        <picture>
          <source media="(min-width:1440px)" srcset="
          ./images/bouquet-cards/bouquet-image-20-lg.webp 1x, 
          ./images/bouquet-cards/bouquet-image-20-lg@2x.webp 2x" type="image/webp">

          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-20-lg.jpg 1x, 
            ./images/bouquet-cards/bouquet-image-20-lg@2x.jpg 2x" type="image/jpg">

          <source srcset=" 
            ./images/bouquet-cards/bouquet-image-20-sm.webp 1x,
            ./images/bouquet-cards/bouquet-image-20-sm@2x.webp 2x" type="image/webp">

          <source srcset=" 
          ./images/bouquet-cards/bouquet-image-20-sm.jpg 1x,
            ./images/bouquet-cards/bouquet-image-20-sm@2x.jpg 2x" type="image/jpg">

          <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-20-sm.jpg"
            alt="букет «Cерце з сухофруктами»" width="300" height="250" loading="lazy">
        </picture>
        <h3 class="product-card__title">Букет «Millenium&Ferrero»</h3>
        <p class="product-card__price">530 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class="recommendation__item product-card">
        <picture>
          <source media="(min-width:1440px)" srcset="
          ./images/bouquet-cards/bouquet-image-23-lg.webp 1x, 
          ./images/bouquet-cards/bouquet-image-23-lg@2x.webp 2x" type="image/webp">

          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-23-lg.jpg 1x, 
            ./images/bouquet-cards/bouquet-image-23-lg@2x.jpg 2x" type="image/jpg">

          <source srcset=" 
            ./images/bouquet-cards/bouquet-image-23-sm.webp 1x,
            ./images/bouquet-cards/bouquet-image-23-sm@2x.webp 2x" type="image/webp">

          <source srcset=" 
          ./images/bouquet-cards/bouquet-image-23-sm.jpg 1x,
            ./images/bouquet-cards/bouquet-image-23-sm@2x.jpg 2x" type="image/jpg">

          <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-23-sm.jpg"
            alt="букет ягідний з полуницею" width="300" height="250" loading="lazy">
        </picture>        
        <h3 class="product-card__title">Букет ягідний з полуницею</h3>
        <p class="product-card__price">480 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class="recommendation__item product-card">
        <picture>
          <source media="(min-width:1440px)" srcset="
          ./images/bouquet-cards/bouquet-image-5-lg.webp 1x, 
          ./images/bouquet-cards/bouquet-image-5-lg@2x.webp 2x" type="image/webp">

          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-5-lg.jpg 1x, 
            ./images/bouquet-cards/bouquet-image-5-lg@2x.jpg 2x" type="image/jpg">

          <source srcset=" 
            ./images/bouquet-cards/bouquet-image-5-sm.webp 1x,
            ./images/bouquet-cards/bouquet-image-5-sm@2x.webp 2x" type="image/webp">

          <source srcset=" 
          ./images/bouquet-cards/bouquet-image-5-sm.jpg 1x,
            ./images/bouquet-cards/bouquet-image-5-sm@2x.jpg 2x" type="image/jpg">

          <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-5-sm.jpg"
            alt="букет «Cерце з сухофруктів»" width="300" height="250" loading="lazy">
        </picture>
        <h3 class="product-card__title">Букет «Cерце з сухофруктів»</h3>
        <p class="product-card__price">575 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class="recommendation__item product-card">
        <picture>
          <source media="(min-width:1440px)" srcset="
          ./images/bouquet-cards/bouquet-image-17-lg.webp 1x, 
          ./images/bouquet-cards/bouquet-image-17-lg@2x.webp 2x" type="image/webp">

          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-17-lg.jpg 1x, 
            ./images/bouquet-cards/bouquet-image-17-lg@2x.jpg 2x" type="image/jpg">

          <source srcset=" 
            ./images/bouquet-cards/bouquet-image-17-sm.webp 1x,
            ./images/bouquet-cards/bouquet-image-17-sm@2x.webp 2x" type="image/webp">

          <source srcset=" 
          ./images/bouquet-cards/bouquet-image-17-sm.jpg 1x,
            ./images/bouquet-cards/bouquet-image-17-sm@2x.jpg 2x" type="image/jpg">

          <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-17-sm.jpg"
            alt="букет «М'ясний кошик»" width="300" height="250" loading="lazy">
        </picture>
        <h3 class="product-card__title">Букет «М'ясний кошик»</h3>
        <p class="product-card__price">1160 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
    </ul>
    <a class="link to-catalog to-catalog--tablet" href="./catalog.html">
      Перейти до каталогу
      <svg class="to-catalog__icon" width="32" height="32">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </div>
</section>