<section class="section recommendation">
  <div class="container recommendation__container">
    <a class="ancor-link" name="recommendation"></a>
    <h2 class="section__title recommendation__title">Рекомендуємо</h2>
    <a class="link to-catalog to-catalog--desktop" href="./catalog.html">
      Перейти до каталогу
      <svg class="to-catalog__icon" width="32" height="32">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </a>
    <ul class="list recommendation__list" id="recommendation-list">
    </ul>
    <button class="button catalog__button button--transparent load-more-button js-load-more-button is-hidden" type="button">Показати більше</button>
    <a class="link to-catalog to-catalog--tablet" href="./catalog.html">
      Перейти до каталогу
      <svg class="to-catalog__icon" width="32" height="32">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </div>
</section>


<!-- 
        <li class="recommendation__item product-card" data-product-card>
        <picture>
          <source media="(min-width:1440px)" srcset="
          ./images/bouquet-cards/bouquet-image-3-lg.webp 1x, 
          ./images/bouquet-cards/bouquet-image-3-lg@2x.webp 2x" type="image/webp">

          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-3-lg.jpg 1x, 
            ./images/bouquet-cards/bouquet-image-3-lg@2x.jpg 2x" type="image/jpg">

          <source srcset=" 
            ./images/bouquet-cards/bouquet-image-3-sm.webp 1x,
            ./images/bouquet-cards/bouquet-image-3-sm@2x.webp 2x" type="image/webp">

          <source srcset=" 
          ./images/bouquet-cards/bouquet-image-3-sm.jpg 1x,
            ./images/bouquet-cards/bouquet-image-3-sm@2x.jpg 2x" type="image/jpg">

          <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-3-sm.jpg"
            alt="букет кіндер-сюрприз" width="300" height="250" loading="lazy">
        </picture>
        <h3 class="product-card__title">Букет «Кіндер-сюрприз»</h3>
        <p class="product-card__price">540 UAH</p>
        <button class="button product-card__button" type="button" data-buy-button>Замовити</button>
      </li>
 -->