<section class="section recommendation">
  <div class="container">
    <h2 class="section__title recommendation__title">Рекомендуємо</h2>
    <ul class="list recommendation-list">
      <li class="recommendation-item product-card">
        <img class="image product-card__image" src="./images/bouquet-cards/bouquet-image-1-sm.jpg" alt="" width="300"
          height="250">
        <h3 class="product-card__title">Букет «Cчастье»</h3>
        <p class="product-card__price">125 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class="recommendation-item product-card">
        <img class="image product-card__image" src="./images/bouquet-cards/bouquet-image-2-sm.jpg" alt="" width="300"
          height="250">
        <h3 class="product-card__title">Букет «Cчастье»</h3>
        <p class="product-card__price">125 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class="recommendation-item product-card">
        <img class="image product-card__image" src="./images/bouquet-cards/bouquet-image-3-sm.jpg" alt="" width="300"
          height="250">
        <h3 class="product-card__title">Букет «Cчастье»</h3>
        <p class="product-card__price">125 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class="recommendation-item product-card">
        <img class="image product-card__image" src="./images/bouquet-cards/bouquet-image-4-sm.jpg" alt="" width="300"
          height="250">
        <h3 class="product-card__title">Букет «Cчастье»</h3>
        <p class="product-card__price">125 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class="recommendation-item product-card">
        <img class="image product-card__image" src="./images/bouquet-cards/bouquet-image-5-sm.jpg" alt="" width="300"
          height="250">
        <h3 class="product-card__title">Букет «Cчастье»</h3>
        <p class="product-card__price">125 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
    </ul>
    <p class="to-catalog">
      Перейти в каталог
      <svg class="to-catalog__icon" width="32" height="32">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </p>
  </div>
</section>