<section class="section special-offer">
  <div class="container">
    <h2 class="section__title special-offer__title">Спеціальна пропозиція</h2>
    <p class="special-offer__subtitle"> <span class="accent-sign">*</span>
      На товари розділу знижки не розповсюджуються</p>
    <ul class="list special-offer-list">
      <li class="special-offer-item product-card">          
        <img class="image product-card__image" src="./images/bouquet-cards/bouquet-image-1-sm.jpg" alt="" width="300" height="250">
        <h3 class="product-card__title">Букет «Cчастье»</h3>
        <p class="product-card__price">125 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button></li>
      <li class="special-offer-item product-card">
        <img class="image product-card__image" src="./images/bouquet-cards/bouquet-image-2-sm.jpg" alt="" width="300" height="250">
        <h3 class="product-card__title">Букет «Cчастье»</h3>
        <p class="product-card__price">125 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class=" special-offer-item product-card">
        <img class="image product-card__image" src="./images/bouquet-cards/bouquet-image-3-sm.jpg" alt="" width="300" height="250">
        <h3 class="product-card__title">Букет «Cчастье»</h3>
        <p class="product-card__price">125 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class=" special-offer-item product-card">
        <img class="image product-card__image" src="./images/bouquet-cards/bouquet-image-4-sm.jpg" alt="" width="300" height="250">
        <h3 class="product-card__title">Букет «Cчастье»</h3>
        <p class="product-card__price">125 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class="special-offer-item product-card">
        <img class="image product-card__image" src="./images/bouquet-cards/bouquet-image-5-sm.jpg" alt="" width="300" height="250">
        <h3 class="product-card__title">Букет «Cчастье»</h3>
        <p class="product-card__price">125 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
    </ul>
  </div>
</section>
