<section class="section section--paddingTop special-offer">
  <div class="container special-offer__container">
    <a name="special-offer"></a>
    <h2 class="section__title special-offer__title">Спеціальна пропозиція</h2>
    <p class="special-offer__subtitle"> <span class="accent-sign">*</span>
      На товари розділу знижки не розповсюджуються</p>
      <a class="link to-catalog to-catalog--desktop special-offer__to-catalog" href="./catalog.html">
        Перейти до каталогу
        <svg class="to-catalog__icon" width="32" height="32">
          <use href="./images/sprite.svg#icon-arrow-right"></use>
        </svg>
      </a>
    <ul class="list special-offer__list">
      <li class="special-offer__item product-card">
        <picture>
          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-18-lg.jpg 1x, 
            ./images/bouquet-cards/bouquet-image-18-lg@2x.jpg 2x" type="image/jpg">

          <source srcset=" 
          ./images/bouquet-cards/bouquet-image-18-sm.jpg 1x,
            ./images/bouquet-cards/bouquet-image-18-sm@2x.jpg 2x" type="image/jpg">

          <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-18-sm.jpg"
            alt="букет з сухофруктів з зеленню" width="300" height="250" loading="lazy">
        </picture>
        <h3 class="product-card__title">Букет з сухофруктів з зеленню</h3>
        <p class="product-card__price">490 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class="special-offer__item product-card">
        <picture>
          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-1-lg.jpg 1x, 
            ./images/bouquet-cards/bouquet-image-1-lg@2x.jpg 2x" type="image/jpg">

          <source srcset=" 
          ./images/bouquet-cards/bouquet-image-1-sm.jpg 1x,
            ./images/bouquet-cards/bouquet-image-1-sm@2x.jpg 2x" type="image/jpg">

          <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-1-sm.jpg"
            alt="ягідний букет" width="300" height="250" loading="lazy">
        </picture>
        <h3 class="product-card__title">Ягідний букет</h3>
        <p class="product-card__price">360 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class=" special-offer__item product-card">
        <picture>
          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-8-lg.jpg 1x, 
            ./images/bouquet-cards/bouquet-image-8-lg@2x.jpg 2x" type="image/jpg">

          <source srcset=" 
          ./images/bouquet-cards/bouquet-image-8-sm.jpg 1x,
            ./images/bouquet-cards/bouquet-image-8-sm@2x.jpg 2x" type="image/jpg">

          <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-8-sm.jpg"
            alt="букет з зефіру та шоколаду" width="300" height="250" loading="lazy">
        </picture>
        <h3 class="product-card__title">Букет з зефіру та шоколаду</h3>
        <p class="product-card__price">280 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
      <li class=" special-offer__item product-card">
        <picture>
          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-9-lg.jpg 1x, 
            ./images/bouquet-cards/bouquet-image-9-lg@2x.jpg 2x" type="image/jpg">

          <source srcset=" 
          ./images/bouquet-cards/bouquet-image-9-sm.jpg 1x,
            ./images/bouquet-cards/bouquet-image-9-sm@2x.jpg 2x" type="image/jpg">

          <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-9-sm.jpg"
            alt="букет «Єдиноріжка»" width="300" height="250" loading="lazy">
        </picture>
        <h3 class="product-card__title">Букет «Єдиноріжка»</h3>
        <p class="product-card__price">340 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
    </ul>

    <a class="link to-catalog to-catalog--tablet" href="./catalog.html">
      Перейти до каталогу
      <svg class="to-catalog__icon" width="32" height="32">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </div>
</section>