<section class="section section--paddingTop special-offer">
  <div class="container special-offer__container">
    <a class="ancor-link" name="special-offer"></a>
    <h2 class="section__title special-offer__title">Спеціальна пропозиція</h2>
    <p class="special-offer__subtitle"> <span class="accent-sign">*</span>
      На товари розділу знижки не розповсюджуються</p>
    <a class="link to-catalog to-catalog--desktop special-offer__to-catalog" href="./catalog.html">
      Перейти до каталогу
      <svg class="to-catalog__icon" width="32" height="32">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </a>
    <ul class="list special-offer__list" id="special-offer-list">
    </ul>

    <button class="button catalog__button button--transparent load-more-button js-load-more-button is-hidden" type="button">Показати більше</button>
    <a class="link to-catalog to-catalog--tablet" href="./catalog.html">
      Перейти до каталогу
      <svg class="to-catalog__icon" width="32" height="32">
        <use href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </a>
  </div>
</section>


<!-- 
        <li class="special-offer__item product-card">
        <picture>
          <source media="(min-width:1440px)" srcset="
          ./images/bouquet-cards/bouquet-image-18-lg.webp 1x, 
          ./images/bouquet-cards/bouquet-image-18-lg@2x.webp 2x" type="image/webp">

          <source media="(min-width:1440px)" srcset="
            ./images/bouquet-cards/bouquet-image-18-lg.jpg 1x, 
            ./images/bouquet-cards/bouquet-image-18-lg@2x.jpg 2x" type="image/jpg">

          <source srcset=" 
            ./images/bouquet-cards/bouquet-image-18-sm.webp 1x,
            ./images/bouquet-cards/bouquet-image-18-sm@2x.webp 2x" type="image/webp">

          <source srcset=" 
          ./images/bouquet-cards/bouquet-image-18-sm.jpg 1x,
            ./images/bouquet-cards/bouquet-image-18-sm@2x.jpg 2x" type="image/jpg">

          <img class=" image product-card__image" src="./images/bouquet-cards/bouquet-image-18-sm.jpg"
            alt="букет з сухофруктів з зеленню" width="300" height="250" loading="lazy">
        </picture>
        <h3 class="product-card__title">Букет з сухофруктів з зеленню</h3>
        <p class="product-card__price">490 UAH</p>
        <button class="button product-card__button" type="button">Замовити</button>
      </li>
 -->