.counter {
  display: flex;
  align-items: center;
  @media screen and (min-width:768px) {
    margin-right: 120px;
  }

  @media screen and (min-width:1440px) {
    margin-right: 160px;
  }
}

.counter__button {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
	font-size: 0;
	border: 1px solid transparent;
	background-color: transparent;
	cursor: pointer;
}

.counter__output{
  font-size: 16px;
}