.load-more-button {
  display: block;
  margin: 0 auto;

  &.is-hidden {
    display: none;
  }

  &:disabled {
    border-color: var(--disabled-color);
    background-color: var(--disabled-color);
    color: var(--btn-close-color);
  }
}
