.logo {
  font-size: 0;
  color: var(--secondary-accent-color);

  transition: border-color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.logo__icon {
  fill: currentColor;
}