.socials {
  display: flex;
}


.socials__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.socials__icon {
  --color3: currentColor;
}