.to-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-text-color);
  padding-top: 5px;
  padding-bottom: 5px;

  transition: color 250ms var(--transition-timing);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
}

.to-catalog__icon {
  margin-left: 10px;
  fill: currentColor;
}