.to-catalog {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-text-color);
  padding-top: 5px;
  padding-bottom: 5px;

  transition: color 250ms var(--transition-timing);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
}

.to-catalog--tablet {
  @media screen and (min-width:1440px) {
    display: none;
  }
}

.to-catalog--desktop {
  @media screen and (max-width:1439.98px) {
    display: none;
  }
  position: absolute;
  top: 5px;
  right: 40px;
}

.to-catalog__icon {
  margin-left: 10px;
  fill: currentColor;
}