.question-form__label {
	position: relative;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;

	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;

	&--margin {
		margin-bottom: 20px;
	}
}

.question-form__text {
	margin-bottom: 4px;
}

.question-form__input {
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 42px;
	padding-right: 12px;
	outline: transparent;

	border: 1px solid var(--modal-input-border-color);
	border-radius: 4px;
	transition: border-color 250ms var(--transition-timing);

	&:focus {
		border-color: var(--accent-text-color);
	}

	&::placeholder {
		color: var(--placeholder-text);
	}

	&--padding {
		padding-left: 16px;
		padding-right: 16px;
		resize: none;
	}
}

.question-form__wrapper {
	position: relative;
}

.question-form__icon {
	position: absolute;
	top: 50%;
	left: 12px;

	fill: var(--accent-text-color);
	transition: fill 250ms var(--transition-timing);
	transform: translateY(-50%);

	.question-form__input:focus + & {
		fill: var(--accent-color);
	}
}

.question-form__assistance-message {
	position: absolute;
	bottom: 0;
	right: 0;
	transform: translateY(100%);
	font-size: 10px;
	color: var(--accent-color);
	opacity: 0;

	.question-form__label:focus-within & {
		opacity: 1;
	}
}

.modal__button {
	width: 200px;
	display: block;
	margin: 0 auto;
}
