.about {
  @media screen and (min-width:768px) {
    font-size: 18px;
  }
}

.about__upperside-wrapper {
  margin-bottom: 30px;

  @media screen and (min-width:768px) {
    display: flex;
  }
}

.about__image--first {
  @media screen and (max-width:767.98px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width:768px) {
    margin-right: 30px;
  }
}

.about__downside-wrapper {
  @media screen and (min-width:1440px) {
    display: flex;
    
  }
}

.about__image--second {
  @media screen and (max-width:1439.98px) {
    display: none;
  }

}


.about__text {
  margin-bottom: 8px;
}

.about__text--bold {
  font-weight: 500;
}
