.benefits {
  padding: 10px;
  max-width: 360px;
  margin: 0 auto;
  background-color: var(--accent-background-color);
  color: var(--secondary-text-color);
  text-align: center;
}

.benefits__container {
  padding: 5px;
  background-image: linear-gradient(
    to right,
    #ab8d60 0%,
    #c4a673 17.45%,
    #f2d495 51.11%,
    #ab8d60 100%
  );
}

.benefits__border {
  background-color: var(--accent-background-color);
  padding: 35px 10px;
}

.benefits__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14);
  // background-color: #043e36;
  padding: 10px 24px 24px 24px;
  border-radius: 4px;
}

.benefits__item:not(:last-child) {
  margin-bottom: 20px;
}

.benefits__title {
  margin-bottom: 8px;
}
