.benefits {
  padding: 10px;
  max-width: 360px;
  margin: 0 auto;
  background-color: var(--accent-background-color);
  color: var(--secondary-text-color);
  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1920px;
    padding: 50px;
  }
}

.benefits__container {
  padding: 5px;
  background-image: linear-gradient(
    to right,
    #ab8d60 0%,
    #c4a673 17.45%,
    #f2d495 51.11%,
    #ab8d60 100%
  );
}

.benefits__border {
  background-color: var(--accent-background-color);
  padding: 35px 10px;

  @media screen and (min-width: 1440px) {
    padding: 50px 20px;
  }
}

.benefits__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  @media screen and (min-width: 1440px) {
    flex-wrap: nowrap;
  }
}

.benefits__item {
  padding: 10px 24px 24px 24px;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 1), -23px 0 20px -23px rgba(0, 0, 0, 0.8),
    23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 20px) / 2);
  }
}

.benefits__title {
  color: var(--secondary-text-color);
  margin-bottom: 5px;
}
