.catalog-links {
  @media screen and (max-width:767.98px) {
    display: none;
  }
}

.catalog-links__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.catalog-links__item {
  flex-basis: calc((100% - 40px) / 3);

  @media screen and (min-width:1440px) {
    flex-basis: calc((100% - 80px) / 5);    
  }
}
