.catalog__content-container {
  display: flex;
  flex-direction: row-reverse;
}

.catalog-wrapper {
  text-align: center;
}

.catalog__list {
  flex-grow: 1;
  margin-bottom: 30px;

  @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.catalog__filter-button {
  margin-bottom: 20px;

  @media screen and (min-width:1440px) {
    display: none;
  }
}

.catalog__item {
  @media screen and (max-width:767.98px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width:768px) {
    flex-basis: calc((100% - 20px) / 2);
  }

  @media screen and (min-width:1440px) {
    flex-basis: calc((100% - 60px) / 3);
  }
}
