.customer-review__item:not(:last-child) {
  margin-bottom: 20px;
}

.customer-review {
  padding: 10px 10px 16px 10px;
  text-align: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 2.21;
  background-color: var(--white-color);
  border-radius: 4px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  
  @media screen and (min-width:768px) {  
    font-size: 14px;
    line-height: 2.16;
  }

  @media screen and (min-width: 1440px) {
    font-size: 16px;
    line-height: 1.86;
  }
}

.customer-review__picture {
  margin: 0 auto;
  margin-bottom: 32px;
  transform: scale(1) translateY(0);
  transition: transform 250ms var(--transition-timing);
  

  &:hover,
  &:focus {
    transform: scale(1.1) translateY(10px);
  }
}

.customer-review__wrapper {
  display: flex;
  margin-bottom: 16px;
  padding-top: 74px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--customer-review-card-background-color);
  border-radius: 4px;

  @media screen and (min-width:768px){
    margin: 0 auto;
    max-width: 620px;
    padding-top: 68px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media screen and (min-width:1440px){
    max-width: 968px;
    padding-top: 68px;
    padding-left: 74px;
    padding-right: 72px;
  }
}

.swiper-slide {
  background: var(--white-color);
}

.customer-review__gradient-wrapper {
  position: relative;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    #e1e1e1 1px,
    transparent 1px,
    transparent 31px
  );
  padding-left: 15px;
  padding-right: 8px;
  border-radius: 4px;

  @media screen and (min-width:768px) {
    padding-right: 50px;
    padding-left: 42px;
  }

  @media screen and (min-width:1440px) {
    padding-right: 35px;
    padding-left: 36px;
  }
}

.customer-review__description {
  transform: translateY(-30px);
  display: block;
}

.customer-review__gradient-wrapper::before {
  position: absolute;
  top: -4px;
  left: 0;
  content: '';
  display: block;
  width: 54px;
  height: 40px;
  background-image: url(../images/customer-review/inverted-commas.svg);
  background-position: left top;
  background-repeat: no-repeat;
  transform: translateY(-100%);
}

.customer-review__name {
  position: relative;
  font-size: 14px;
  line-height: 1.86;
  font-weight: 500;

  @media screen and (min-width:768px) {
    font-size: 16px;
  }

  @media screen and (min-width:1440px) {
    font-size: 20px;
  }
}

.customer-review__name::before {
  content: '';
  display: block;
  height: 4px;
  margin-bottom: 16px;
  background-image: url(../images/customer-review/review-circles.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-pagination--customer {
  --swiper-theme-color: #987045;
  margin-bottom: -10px;  
}

// .swiper-pagination-bullet {
//   width: 12px;
//   height: 12px;
//   background-color: transparent;
//   background-image: url(../images/customer-review/ellipse.svg);
//   background-size: contain;
// }

// .swiper-pagination-bullet-active {
//   background-color: transparent;
//   background-image: url(../images/customer-review/home.svg);
//   background-size: contain;
// }
