.footer {
  max-width: 1920px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 18px;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  background-color: var(--accent-background-color);
  color: var(--main-background-color);
}

.footer__wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.footer-contacts {
  display: flex;

  @media screen and (max-width: 767.98px) {
    justify-content: space-around;
    align-items: center;
    margin-bottom: 18px;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__logo {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}


.footer-contact__link {
  padding-top: 5px;
  padding-bottom: 5px;

  transition: color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  display: flex;
  justify-content: left;
  align-items: center;
}

.footer-contact__icon {
  margin-right: 6px;
}

.footer-contact__icon--phone {
  fill: currentColor;
}

.footer-contact__icon--instagram {
  --color3: currentColor;
}


.footer__working-hours {
  @media screen and (max-width: 767.98px) {
    margin-bottom: 18px;
  }
}

.footer__working-hours--mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.footer__working-hours--tablet {
  @media screen and (max-width: 767.98px) {
    display: none;
  }

  text-align: left;
}

.working-hours__item {
  padding-top: 5px;
  padding-bottom: 5px;
}


.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: left;

  @media screen and (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}

.footer__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width:1440px) {
    &:not(:last-child) {
      margin-right: 180px;
    }
  }
}

.footer__link {
  display: block;
  padding: 5px 0;

  transition: color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__socials {
  margin-bottom: 20px;
  
  @media screen and (min-width:768px) {
    justify-content: end;
    margin-right: 55px;
  }
} 

.footer-socials__item {
  @media screen and (min-width:768px) {
    transform: translateY(-35px);
  }
}

.footer__policy {
  font-size: 10px;
  text-align: left;
  letter-spacing: 0.2em;
}
