.footer {
  padding-top: 30px;
  padding-bottom: 18px;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  background-color: var(--accent-background-color);
  color: var(--main-background-color);
}

.footer-contacts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 18px;
}

.footer-contact__link {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;

  transition: color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contact__icon {
  margin-right: 6px;
}

.footer-contact__icon--phone {
  fill: currentColor;
}

.footer-contact__icon--instagram {
  --color3: currentColor;
}

.footer__working-hours {
  margin-bottom: 18px;
}

.footer__links {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-align: left;
}

.footer__link {
  display: block;
  padding: 5px 0;

  transition: color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__policy {
  font-size: 10px;
  text-align: left;
  letter-spacing: 0.2em;
}
