.gallery {
  position: relative;
}

.gallery__container {
  @media screen and (max-width:767.98px) {
    max-width: 360px;
  }
}

.gallery__link {
  display: block;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 10px 0;
  transition: border-color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.swiper-mobile {
  @media screen and (min-width:768px) {
    display: none;
  }
}

.swiper-tablet {
  @media screen and (max-width:767.98px) {
    display: none;
  }

  @media screen and (min-width:1439.98px){
    display: none;
  }
}

.swiper-desktop {
  @media screen and (max-width:1439.98px){
    display: none;
  }
}

.swiper-pagination--gallery-mobile,
.swiper-pagination--gallery-tablet,
.swiper-pagination--gallery-desktop {
  --swiper-theme-color: #987045;
  text-align: center;
}