// .gallery__title {
//   margin-bottom: 10px;
// }

.gallery__link {
  display: block;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 10px 0;
  transition: border-color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}


.swiper-pagination--gallery {
  --swiper-theme-color: #987045;
  text-align: center;
}