.gallery {
  position: relative;
}

.gallery__container {
  @media screen and (max-width:767.98px) {
    max-width: 360px;
  }
}

.gallery__link {
  display: block;
  font-weight: 500;
  margin-bottom: 20px;
  padding: 10px 0;
  transition: border-color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.swiper-pagination {
  --swiper-theme-color: #987045;
  text-align: center;
}