.header {
  @media screen and (max-width:767.98px) {
    display: none;
  }

  @media screen and (min-width:1440px) {
    max-width: 1920px;
    margin: 0 auto;
  }
}

.header-upperside__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__map {
  @media screen and (max-width:1439.98px) {
    margin-right: 40px;
  }
}

.header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;

  transition: border-color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header__socials {
  color: var(--accent-text-color);

  @media screen and (max-width: 1439.98px) {
    display: none;
  }
}


.header-downside {
  background-color: var(--accent-background-color);
  color: var(--secondary-text-color);
}

.header-downside__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-downside__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
  line-height: 1.29;
}

.header-downside__item:not(:last-child) {
  margin-right: 20px;
}

.header-downside__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;

	transition: color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-downside__icon {
  --color1: currentColor;
  fill: currentColor;
  margin-right: 8px;
}

.header__working-hours {
  @media screen and (max-width:1439.98px) {
    display: none;
  }
  display: flex;
}

.header-working-hours__item {
  
  &:not(:last-child) {
    margin-right: 16px;
  }
}