.mobile-header {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-header__upperside {
  position: relative;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-header__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 1.29;
}

.mobile-header__item:not(:last-child) {
  margin-right: 12px;
}

.mobile-header__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

	transition: color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.mobile-header__icon {
  --color1: currentColor;
  margin-right: 6px;
}

.mobile-header__icon--instagram {
  --color3: currentColor;
  margin-right: 8px;
}

.mobile-header__link--phone {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;

  @media screen and (min-width:330px)  {
    font-size: 14px;
  }
}

.mobile-header__icon--phone {
  fill: currentColor;
}


.mobile-header__wrapper {
  background-color: var(--accent-background-color);
  color: var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// MOBILE_MENU
.mobile-menu-backdrop {
  position: fixed;
  z-index: 50;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--backdrop-color);

  font-weight: 600;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.1em;
  color: var(--main-black-text-color);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: opacity 250ms var(--transition-timing),
    visibility 250ms var(--transition-timing),
    transform 250ms var(--transition-timing);
  overflow-y: scroll;

  &--is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: all;

    transform: translateX(0%);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  position: absolute;
  background-color: var(--main-background-color);
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 130px 41px;

  @media screen and (min-width: 420px) {
    width: 80%;
  }

  @media screen and (min-width: 480px) {
    width: 70%;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-menu__list {
  margin-bottom: 52px;
}

.mobile-menu__link {
  color: var(--accent-text-color);
	transition: color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.menu-btn {
  position: absolute;
  z-index: 500;
  top: 6px;
  right: 20px;
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;

  font-size: 0;
  display: inline-block;
  color: var(--accent-text-color);
  background-color: transparent;
  cursor: pointer;
  border: none;

	transition: color 250ms var(--transition-timing);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &--is-open {
    color: var(--accent-text-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-btn__icon {
  fill: currentColor;
  stroke: currentColor;
}

.menu-btn__icon--cross {
  .menu-btn & {
    display: none;
  }

  .menu-btn--is-open & {
    display: block;
  }
}

.menu-btn--is-open .menu-btn__icon--menu {
  display: none;
}

// INPUT
// .mobile-header__label {
//   flex-grow: 1;
//   position: relative;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.21;
// }

// .mobile-header__icon--search {
//   position: absolute;
//   top: 0;
//   right: 0;
// }

// .mobile-header__input {
//   width:100%;
//   max-width: 300px;
// }
