.recommendation {
    position: relative;
    z-index: 2;
}

.recommendation::before {

  @media screen and (min-width: 1170px)  {
  content: '';
    position: absolute;
    z-index: 1;
    bottom: 140px;
    left: 0;
    width: 202px;
    height: 831px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media screen and (min-width: 1170px) and (max-width:1439.98px) {
    background-image: url(../images/bg-images/leaf-8-lg.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg-images/leaf-8-lg@2x.png);
    }
  }

  @media screen and (min-width: 1920px) {
    background-image: url(../images/bg-images/leaf-8-lg.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg-images/leaf-8-lg@2x.png);
    }
  }
}

.recommendation__container {
  @media screen and (min-width:1440px) {
    position: relative;
  }
}

.recommendation__list {
  margin-bottom: 20px;

  @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

}

.recommendation__item {
  @media screen and (max-width:767.98px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width:768px) {
    flex-basis: calc((100% - 20px) / 2);
  }

  @media screen and (min-width:1440px) {
    flex-basis: calc((100% - 80px) / 4);
  }
}

