.recommendation__container {
  @media screen and (min-width:1440px) {
    position: relative;
  }
}

.recommendation__list {
  margin-bottom: 20px;

  @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.recommendation__item {
  @media screen and (max-width:767.98px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width:768px) {
    flex-basis: calc((100% - 20px) / 2);
  }

  @media screen and (min-width:1440px) {
    flex-basis: calc((100% - 80px) / 4);
  }
}

