.special-offer {
  @media screen and (min-width:768px) {
    padding-top: 0;
  }
}

.special-offer-list {
  margin-bottom: 10px;

  @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
}

.special-offer-item {
  @media screen and (max-width:767.98px) {
    
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width:768px) {
    flex-basis: calc((100% - 20px) / 2);
  }
}

.accent-sign {
  color:  var(--accent-red-color);
}

.special-offer__title {
  margin-bottom: 10px;
}

.special-offer__subtitle {
  font-size: 14px;
  display: block;
  margin-bottom: 30px;
}

