.special-offer {
  position: relative;
  
  @media screen and (min-width:768px) {
    padding-top: 0;
  }

}

.special-offer::before {
  @media screen and (min-width: 1170px) {
    content: '';
    position: absolute;
    z-index: 1;
    width: 238px;
    height: 831px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media screen and (min-width: 1170px) and (max-width:1439.98px) {
    top: -125px;
    right: 0;
    background-image: url(../images/bg-images/leaf-7-lg.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg-images/leaf-7-lg@2x.png);
    }
  }

  @media screen and (min-width: 1920px) {
    top: -39px;
    right: 0;
    background-image: url(../images/bg-images/leaf-7-lg.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg-images/leaf-7-lg@2x.png);
    }
  }
}

.special-offer__container {
  @media screen and (min-width:1440px) {
    position: relative; 
  }
}

.special-offer__list {
  margin-bottom: 20px;

  @media screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

}

.special-offer__item {
  @media screen and (max-width:767.98px) {
    
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width:768px) {
    flex-basis: calc((100% - 20px) / 2);
  }

  @media screen and (min-width:1440px) {
    flex-basis: calc((100% - 80px) / 4);
  }
}

.accent-sign {
  color:  var(--accent-red-color);
}

.special-offer__title {
  margin-bottom: 10px;
}

.special-offer__subtitle {
  font-size: 14px;
  display: block;
  margin-bottom: 30px;
}

.special-offer__to-catalog {
  top: 35px;
}

